@font-face {
  font-family: 'arcsec-icons';
  src: url('../font/arcsec-icons.eot?18985285');
  src: url('../font/arcsec-icons.eot?18985285#iefix') format('embedded-opentype'),
       url('../font/arcsec-icons.woff2?18985285') format('woff2'),
       url('../font/arcsec-icons.woff?18985285') format('woff'),
       url('../font/arcsec-icons.ttf?18985285') format('truetype'),
       url('../font/arcsec-icons.svg?18985285#arcsec-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'arcsec-icons';
    src: url('../font/arcsec-icons.svg?18985285#arcsec-icons') format('svg');
  }
}
*/
 
 [class^="arcsec-"]:before, [class*=" arcsec-"]:before {
  font-family: "arcsec-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.arcsec-widget_live2:before { content: '\e800'; } /* '' */
.arcsec-widget_error:before { content: '\e801'; } /* '' */
.arcsec-square_info:before { content: '\e802'; } /* '' */
.arcsec-download:before { content: '\e803'; } /* '' */
.arcsec-share_norecipient:before { content: '\e804'; } /* '' */
.arcsec-share_email:before { content: '\e805'; } /* '' */
.arcsec-notifications:before { content: '\e806'; } /* '' */
.arcsec-dashboard:before { content: '\e807'; } /* '' */
.arcsec-circle_info:before { content: '\e808'; } /* '' */
.arcsec-integrations:before { content: '\e809'; } /* '' */
.arcsec-list:before { content: '\e80a'; } /* '' */
.arcsec-list_exclude:before { content: '\e80b'; } /* '' */
.arcsec-system_settings:before { content: '\e80c'; } /* '' */
.arcsec-widget_live:before { content: '\e80d'; } /* '' */
.arcsec-square_delete:before { content: '\e80e'; } /* '' */
.arcsec-circle_delete:before { content: '\e80f'; } /* '' */
.arcsec-list_include:before { content: '\e810'; } /* '' */
.arcsec-arrow_back:before { content: '\e811'; } /* '' */
.arcsec-widget_timeline:before { content: '\e812'; } /* '' */
.arcsec-widget_stackedbar:before { content: '\e813'; } /* '' */
.arcsec-widget_piechart:before { content: '\e814'; } /* '' */
.arcsec-widget_map:before { content: '\e815'; } /* '' */
.arcsec-widget_loading:before { content: '\e816'; } /* '' */
.arcsec-widget_loaded:before { content: '\e817'; } /* '' */
.arcsec-widget_linechart:before { content: '\e818'; } /* '' */
.arcsec-widget_bar:before { content: '\e819'; } /* '' */
.arcsec-widget_areachart:before { content: '\e81a'; } /* '' */
.arcsec-view_missing:before { content: '\e81b'; } /* '' */
.arcsec-user_add:before { content: '\e81c'; } /* '' */
.arcsec-user:before { content: '\e81d'; } /* '' */
.arcsec-system:before { content: '\e81e'; } /* '' */
.arcsec-square_warning:before { content: '\e81f'; } /* '' */
.arcsec-square_remove:before { content: '\e820'; } /* '' */
.arcsec-square_question:before { content: '\e821'; } /* '' */
.arcsec-square_create:before { content: '\e822'; } /* '' */
.arcsec-square_done:before { content: '\e823'; } /* '' */
.arcsec-sharing:before { content: '\e824'; } /* '' */
.arcsec-share_copy:before { content: '\e825'; } /* '' */
.arcsec-share_apikey:before { content: '\e826'; } /* '' */
.arcsec-screenshot:before { content: '\e827'; } /* '' */
.arcsec-search:before { content: '\e828'; } /* '' */
.arcsec-restorepoint_set:before { content: '\e829'; } /* '' */
.arcsec-restorepoint_restore:before { content: '\e82a'; } /* '' */
.arcsec-regenerate:before { content: '\e82b'; } /* '' */
.arcsec-reset:before { content: '\e82c'; } /* '' */
.arcsec-news:before { content: '\e82d'; } /* '' */
.arcsec-menu:before { content: '\e82e'; } /* '' */
.arcsec-lock_open:before { content: '\e82f'; } /* '' */
.arcsec-lock_locked:before { content: '\e830'; } /* '' */
.arcsec-link:before { content: '\e831'; } /* '' */
.arcsec-key_vertical:before { content: '\e832'; } /* '' */
.arcsec-key_horizontal:before { content: '\e833'; } /* '' */
.arcsec-import:before { content: '\e834'; } /* '' */
.arcsec-home:before { content: '\e835'; } /* '' */
.arcsec-filter:before { content: '\e836'; } /* '' */
.arcsec-feeds_external:before { content: '\e837'; } /* '' */
.arcsec-feeds_hub:before { content: '\e838'; } /* '' */
.arcsec-feed_configuration:before { content: '\e839'; } /* '' */
.arcsec-feeds_api:before { content: '\e83a'; } /* '' */
.arcsec-export:before { content: '\e83b'; } /* '' */
.arcsec-expand_down:before { content: '\e83c'; } /* '' */
.arcsec-edit:before { content: '\e83d'; } /* '' */
.arcsec-device_smartphone:before { content: '\e83e'; } /* '' */
.arcsec-delete:before { content: '\e83f'; } /* '' */
.arcsec-customers:before { content: '\e840'; } /* '' */
.arcsec-create:before { content: '\e841'; } /* '' */
.arcsec-circle_warning:before { content: '\e842'; } /* '' */
.arcsec-configuration:before { content: '\e843'; } /* '' */
.arcsec-close:before { content: '\e844'; } /* '' */
.arcsec-circle_remove:before { content: '\e845'; } /* '' */
.arcsec-circle_question:before { content: '\e846'; } /* '' */
.arcsec-circle_done:before { content: '\e847'; } /* '' */
.arcsec-circle_create:before { content: '\e848'; } /* '' */
.arcsec-checkbox_selected:before { content: '\e849'; } /* '' */
.arcsec-checkbox_empty:before { content: '\e84a'; } /* '' */
.arcsec-aggregator_configuration:before { content: '\e84b'; } /* '' */
.arcsec-activity:before { content: '\e84c'; } /* '' */
.arcsec-widget_categorilla:before { content: '\e84d'; } /* '' */
.arcsec-widget_list:before { content: '\e84e'; } /* '' */
.arcsec-activity_dot:before { content: '\e84f'; } /* '' */
.arcsec-sign_out:before { content: '\e850'; } /* '' */
.arcsec-timerange:before { content: '\e851'; } /* '' */
.arcsec-check:before { content: '\e852'; } /* '' */
.arcsec-widget_list_annotation:before { content: '\e853'; } /* '' */
.arcsec-hubs:before { content: '\e854'; } /* '' */
.arcsec-integration_analyst:before { content: '\e855'; } /* '' */
.arcsec-integration_firewall:before { content: '\e856'; } /* '' */
.arcsec-integration_proxies:before { content: '\e857'; } /* '' */
.arcsec-integration_scanner:before { content: '\e858'; } /* '' */
.arcsec-integration_sensor:before { content: '\e859'; } /* '' */
.arcsec-integration_siem:before { content: '\e85a'; } /* '' */
.arcsec-integration_ticketing:before { content: '\e85b'; } /* '' */