---
layout: empty
navigation:
  show_in_navigation: false
title:
description:
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include navbar.html %}
	<main id="main-content" class="blog">
    <div class="blog__flex-container">
        <aside class="blog__contact"></aside>
      <article class="blog__article">
        <div class="blog__article-text editable">
          Editable content
        </div>
      </article>
    </div>
	</main>
	{% include footer.html %}
	{% include scripts.html %}
</body>
</html>
