---
header_image_path: /images/site/logo_text2_blue.svg
team_members:
  employees:
    - roope-testaa
    - tiina-testaaja
    - maija-meikalainen
navigation:
  show_in_navigation: true
  nav_order: '5'
  nav_title: About Us
tab_slider: false
contact_form: true
title:
description:
meta_title:
meta_description:
og_image_path: /images/site/logo_text2_blue.svg
twitter_image_path:
og_title:
og_description:
---

<div class="about-us__header">
  <div class="about-us__header-text">
    <h1 class="editable">Don't be alone in cyber.</h1>
    <p class="large editable">We want to help you get organized in cyber defense</p>
  </div>
  <img class="about-us__header-image" src="{{page.header_image_path}}" alt="About us header image" />
</div>
<div class="about-us__text large">
  <div class="about-us__text-paragraph">
    <h2 class="editable"><i class="icon-product" style="margin-right: 10px;"></i>Our Mission</h2>
    <p class="editable">
      Our mission is to help you get organized in cyber defense through <a href="/">defense cells</a>. We want to get both governmental and commercial cyber security centers and other cyber officials connected with companies and organizations to share the critical threat intelligence between each other. The more threat intelligence is spread inside a<br />defense cell the more resilient the parties and eventually, the internet, become.
    </p>
  </div>
  <div class="about-us__text-paragraph">
    <h2 class="editable"><i class="icon-team" style="margin-right: 10px;"></i>Our Team</h2>
    <p class="editable">
      Our devoted team is composed of international experts with extensive knowledge and experience in working in the cyber threat intelligence industry. Our organization is led by CEO David Chartier,<br />a long term cyber security professional and the former CEO of Codenomicon. Our headquarters are based in Oulu, Finland. We also have offices in San Francisco, Singapore and Helsinki. Our operations are funded by <a target="_blank" href="https://www.capman.com/investment-strategies/ growth-equity/portfolio/arctic/">CapMan</a>.&nbsp;
    </p>
  </div>
</div>
{% capture include_members %}{% for person in page.team_members.employees %}{{ person }},{% endfor %}{% endcapture %}
{% include team.html members=include_members %}
{% include jobs-no-background.html limit=100 class='about-us__jobs' %}
{% include partners.html %}
{% include contact-info.html %}
{% include contact-form.html class='about-us__form-margin' %}