---
header_image_path: /images/site/logo_text2_blue.svg
team_image_path: /images/site/logo_text2_blue.svg
team_members:
  employees:
    - roope-testaa
    - tiina-testaaja
    - maija-meikalainen
    - maija-meikalainen
navigation:
  show_in_navigation: true
  nav_order: '5'
  nav_title: About Us
tab_slider: true
contact_form: true
---
<div class="about-us__header">
  <div class="about-us__header-text">
    <h1 class="editable">Don't be alone in cyber.</h1>
    <p class="large editable">We want to help you get organized in cyber defense</p>
  </div>
  <img class="about-us__header-image" src="{{page.header_image_path}}" alt="About us header image" />
</div>
<div class="about-us__text large">
  <div class="about-us__text-paragraph">
    <h2 class="editable"><i class="icon-product" style="margin-right: 10px;"></i>Our Mission</h2>
    <p class="editable">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
  </div>
  <div class="about-us__text-paragraph">
    <h2 class="editable"><i class="icon-team" style="margin-right: 10px;"></i>Our Team</h2>
    <p class="editable">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
  </div>
</div>
{% include jobs-no-background.html limit=100 class='about-us__jobs' %}
{% capture include_members %}{% for person in page.team_members.employees %}{{ person }},{% endfor %}{% endcapture %}
{% include team.html image=page.team_image_path members=include_members %}
{% include contact-info.html %}
{% include contact-form.html class='about-us__form-margin' %}