---
layout: blog-page
navigation:
  show_in_navigation: true
  nav_order: '3'
  nav_title: Blog
blog_filter: true
---
<div class="blog-header">
  <div class="blog-page__title">
    <h1>Get organised with Cyber Security</h1>
    <p>Access our latest resources on Cyber Security Issues</p>
  </div>
  <div class="blog-page__filter">
    <span class="uppercase blog-filter__label">Filter:</span>
    {% for category in site.blog_category %}
      <span data-category="{{category}}" class="uppercase blog-filter__button">{{category}}</span>
    {% endfor %}
  </div>
</div>
{% include posts.html multirow=true limit=1000 no_title=true no_blog_link=true %}
<div class="blog-page__loadmore-wrapper">
  <span class="blog-page__loadmore" id="blog-page__loadmore">Load More<i class="arcsec-circle_remove"></i></i></span>
</div>
