---
layout: empty
navigation:
  show_in_navigation: false
title:
description:
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include navbar.html %}
	<main id="main-content" class="blog">
    <div class="blog__flex-container">
        <aside class="blog__contact"></aside>
      <article class="blog__article">
        <div class="blog__article-text editable">
          <h1>Description of the project funded by the European Regional Development Fund (ERDF)</h1>
          <h2>Project</h2>
          <ul>
            <li>Project code: <a target="_blank" href="https://www.eura2014.fi/rrtiepa/projekti.php?projektikoodi=A73750&amp;lang=en">A73750</a></li>
            <li>Project name: Arctic Security - productization and international channel development project</li>
            <li>Policy: 2. Production and utilisation of latest knowledge and expertise</li>
            <li>Specific objective: 5.1. Strengthening innovation work in companies</li>
            <li>Planned completion time: Start 1.3.2018 and end 31.12.2018</li>
            <li>Responsible authority: Centre for Economic Development, Transport and the Environment North Ostrobothnia</li>
          </ul>
          <h2>Basic applicant information</h2>
          <ul>
            <li>Official name of the applicant: ARCTIC SECURITY OY</li>
            <li>Organisation type: Small enterprise</li>
            <li>Business ID: 2846252-2</li>
            <li>Street: Elektroniikkatie 8</li>
            <li>Telephone number: +358207430010</li>
            <li>Postal code: 90590</li>
            <li>City/town: OULU</li>
            <li>Website: www.arcticsecurity.com</li>
            <li>Project contact person's name: Koivumaa Virpi</li>
            <li>Contact person's position in the organisation: COO</li>
            <li>Contact person&rsquo;s email address: virpi(at)arcticsecurity.com</li>
            <li>Contact person's phone number: +358 405942595</li>
          </ul>
          <h2>Public funding of the project (EUR)</h2>
          <ul>
            <li>EU and State funding granted: 239 950</li>
            <li>Planned public funding (total): 239 950</li>
          </ul>
          <p>&nbsp;</p>
        </div>
      </article>
    </div>
	</main>
	{% include footer.html %}
	{% include scripts.html %}
</body>
</html>
