---
layout: default
filter_category:
  - guides
navigation:
  show_in_navigation: false
expander_1_video_url: https://player.vimeo.com/video/9011932
expander_2_video_url: https://player.vimeo.com/video/9011932
expander_3_video_url: https://player.vimeo.com/video/9011932
mailing_list_form: true
title:
description:
meta_title:
meta_description:
og_image_path: '/images/site/logo_text2_blue.svg'
twitter_image_path:
---

<div class="frontpage-content">
  <div class="frontpage-header__wrapper">
    <div class="frontpage-header">
      <h1 class="editable">Don't be alone in cyber.</h1>
      <p class="editable large">Get cyber threat information from the ones who know to the ones who need to know.</p>
    </div>
    <img src="/images/site/logo_text2_blue.svg" alt="Frontpage header" class="editable frontpage-header__image" />
  </div>

  <div class="frontpage-expander" data-tag="content-1">
    <div class="frontpage-expander__header-wrapper">
      <iframe src="{{page.expander_1_video_url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="frontpage-expander__header editable">
        <h2>Improve your cyber resilience</h2>
        <p class="large">Being part of a cyber threat intelligence network improves your cyber resilience. You are always up-to-date on what is going on around you. You know which problems you need to fix. You are aware of the known threats and can protect against them.</p>
      </div>
    </div>
    <div class="frontpage-expander__content frontpage-expander__hide" data-tag="content-1">
      <div class="editable">
        <img class="editable" src="/images/content/1.svg" class="editable" alt="expander content image" />
        <h3>Get connected to cyber threat information</h3>
        <p>Internet is full of broken or compromised devices. They exist in homes, enterprises and governmental entities. There is a lot of information available about these problems. Lack of information is not the problem. You are not alone. You just need to get connected to the cyber authorities and organizations that produce and deliver the data.</p>
      </div>
    </div>
    <div class="frontpage-expander__content frontpage-expander__hide" data-tag="content-1">
      <div class="editable">
        <img class="editable" src="/images/content/2.svg" class="editable" alt="expander content image" />
        <h3>Know what you need to fix</h3>
        <p>Problem is that there are known issues that are not fixed. And there are known threats that companies and officials do not protect themselves against. We help bring the essential cyber threat information from the ones who know to the ones who need to know. This way the problems can be fixed and the cyber resilience increased.</p>
      </div>
    </div>
    <span class="caption-light frontpage-expander__show-more" data-tag="content-1">Show more<i class="icon-arrow_down"></i></span>
    <span class="caption-light frontpage-expander__show-less frontpage-expander__hide" data-tag="content-1">Show less<i class="icon-arrow_up"></i></span>
  </div>

  <div class="frontpage-expander" data-tag="content-2">
    <div class="frontpage-expander__header-wrapper">
      <iframe src="{{page.expander_2_video_url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="frontpage-expander__header editable">
        <h2>Take away the opportunity</h2>
        <p class="large">Unfortunately cyber criminals will always exist as none of us can influence their motivation or capability. However, the good news is that you can decrease the risk of attacks by taking away the opportunity to attack your systems.</p>
      </div>
    </div>
    <div class="frontpage-expander__content frontpage-expander__hide" data-tag="content-2">
      <div class="editable">
        <img class="editable" src="/images/content/3.svg" class="editable" alt="expander content image" />
        <h3>Capability and motivation of a threat actor</h3>
        <p>You never have full visibility on the capabilities and motivations of threat actors. You may only observe the capabilities they have already exploited. You can do this by reactive methods, such as firewalls, or proactive methods, such as malware analysis or sandboxing.</p>
      </div>
    </div>
    <div class="frontpage-expander__content frontpage-expander__hide" data-tag="content-2">
      <div class="editable">
        <img class="editable" src="/images/content/4.svg" class="editable" alt="expander content image" />
        <h3>How to affect the opportunity</h3>
        <p>Opportunity is the only thing you offer to the threat actor. That is also the only thing in this picture that you can affect. This you can do by security audits, red teaming, vulnerability scanning and indicator sharing. The most effective way in taking away the opportunity is to create and deploy an automated threat intelligence cycle</p>
      </div>
    </div>
    <span class="caption-light frontpage-expander__show-more" data-tag="content-2">Show more<i class="icon-arrow_down"></i></span>
    <span class="caption-light frontpage-expander__show-less frontpage-expander__hide" data-tag="content-2">Show less<i class="icon-arrow_up"></i></span>
  </div>

  <div class="frontpage-expander" data-tag="content-3">
    <div class="frontpage-expander__header-wrapper">
      <iframe src="{{page.expander_3_video_url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="frontpage-expander__header editable">
        <h2>Get information fast with defense cells</h2>
        <p class="large">Our mission is to create defense cell based threat intelligence networks to enable fast and automated information sharing with the parties. We want to get both cyber security centers and other cyber officials connected with companies and help them share the critical threat information between each other.</p>
      </div>
    </div>
    <div class="frontpage-expander__content frontpage-expander__hide" data-tag="content-3">
      <div class="editable">
        <img class="editable" src="/images/content/5.svg" class="editable" alt="expander content image" />
        <h3>Defense cell hub shares information</h3>
        <p>In the heart of a defense cell there is a hub that receives and shares the essential threat information. A hub can typically be a national computer emergency response team or a cyber security center. Or, in big organizations and companies one of the units can choose to act as a hub and deliver the information to the other units.</p>
      </div>
    </div>
    <div class="frontpage-expander__content frontpage-expander__hide" data-tag="content-3">
      <div class="editable">
        <img class="editable" src="/images/content/6.svg" class="editable" alt="expander content image" />
        <h3>Defense cell nodes receive and use the information</h3>
        <p>The role of the nodes in the defense cell is to receive the critical cyber threat information and act accordingly. For example, companies that are providing critical infrastructure can protect against the cyber threats reported to them by a national cyber security center that acts as a hub in their defense cell.</p>
      </div>
    </div>
    <span class="caption-light frontpage-expander__show-more" data-tag="content-3">Show more<i class="icon-arrow_down"></i></span>
    <span class="caption-light frontpage-expander__show-less frontpage-expander__hide" data-tag="content-3">Show less<i class="icon-arrow_up"></i></span>
  </div>
</div>
{% include posts.html limit=3 title='Guides' filter_category=page.filter_category %}
{% include news.html %}
{% include events-and-careers.html %}
{% include mailing-list-form.html %}