---
layout: default
filter_category:
  - guides
  - use cases
navigation:
  show_in_navigation: false
expander_1_video: 9STjLpAeERY
expander_2_video: L3qzMbigZrE
expander_3_video: kpRex0E-lMY
mailing_list_form: true
title: Don't be alone in cyber
description: >-
  Get cyber threat information from the ones who know to the ones who need to
  know.
meta_title: Don't be alone in cyber
meta_description: >-
  Get cyber threat information from the ones who know to the ones who need to
  know.
og_image_path: /images/content/Artic Security Don't be alone in cyber.png
twitter_image_path:
og_title: Don't be alone in cyber
og_description: >-
  Get cyber threat information from the ones who know to the ones who need to
  know.
_comments:
  expander_1_video: >-
    Video "id" that comes after https://www.youtube.com/watch?v= in URL,
    (example: lpvT-Fciu-4)
  expander_2_video: >-
    Video "id" that comes after https://www.youtube.com/watch?v= in URL,
    (example: lpvT-Fciu-4)
  expander_3_video: >-
    Video "id" that comes after https://www.youtube.com/watch?v= in URL,
    (example: lpvT-Fciu-4)
---

<div class="frontpage-content">
  <div class="frontpage-header__wrapper">
    <div class="frontpage-header">
      <h1 class="editable">Don't be alone in cyber.</h1>
      <p class="editable large">Get cyber threat information from the ones who know to the ones who need to know.</p>
    </div>
    <img src="/images/content/hero.svg" alt="Frontpage header" class="editable frontpage-header__image" />
  </div>

  <div class="frontpage-expander" data-tag="content-1" id="cyber-resilience">
    <div class="frontpage-expander__header-wrapper">
      <iframe src="https://www.youtube.com/embed/{{page.expander_1_video}}?rel=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="frontpage-expander__header editable">
        <h2>Improve your cyber security</h2>
        <p class="large">You can improve your cyber security by getting organized. You are always up-to-date on what is going on around you. You know which problems you need to fix. You are aware of the known threats and can protect against them.</p>
      </div>
    </div>
    <div class="frontpage-expander__content" data-tag="content-1">
      <div class="editable">
        <p><img alt="expander content image" src="/images/content/1.svg" /></p>
        <h3>Get connected to cyber threat information</h3>
        <p>Internet is full of broken or compromised devices. They exist in homes, enterprises and governmental entities. There is a lot of information available about these problems. Lack of information is not the problem. You are not alone. You just need to get connected to the correct insight.</p>
      </div>
    </div>
    <div class="frontpage-expander__content" data-tag="content-1">
      <div class="editable">
        <p><img alt="expander content image" src="/images/content/2.svg" /></p>
        <h3>Know what you need to fix</h3>
        <p>Problem is that there are known issues that are not fixed. And there are known threats that companies and officials do not protect themselves against. We help bring the essential cyber threat information from the ones who know to the ones who need to know. This way the problems can be fixed and your resilience against cyber threats increased.</p>
      </div>
    </div>
  </div>

  <div class="frontpage-expander" data-tag="content-2" id="opportunity">
    <div class="frontpage-expander__header-wrapper">
      <iframe src="https://www.youtube.com/embed/{{page.expander_2_video}}?rel=0" " frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="frontpage-expander__header editable">
        <h2>Decrease the risk of cyber attacks</h2>
        <p class="large">Unfortunately cyber criminals will always exist as none of us can influence their motivation or capability. However, the good news is that you can decrease the risk of attacks by taking away the opportunity to attack your systems.</p>
      </div>
    </div>
    <div class="frontpage-expander__content" data-tag="content-2">
      <div class="editable">
        <p><img alt="expander content image" src="/images/content/3-1.svg" width="267" height="121" /></p>
        <h3>Capability and motivation of a threat actor</h3>
        <p>You never have full visibility on the capabilities and motivations of threat actors. You may only observe the capabilities they have already exploited. You can do this by reactive methods, such as firewalls, or proactive methods, such as malware analysis or sandboxing.</p>
      </div>
    </div>
    <div class="frontpage-expander__content" data-tag="content-2">
      <div class="editable">
        <p><img alt="expander content image" src="/images/content/3.svg" /></p>
        <h3>How to affect the opportunity</h3>
        <p>Opportunity is the only thing you offer to the threat actor. That is also the only thing in this picture that you can affect. This you can do by security audits, red teaming, vulnerability scanning and indicator sharing. The most effective way in taking away the opportunity is to create and deploy <a href="/products/hub">an automated threat intelligence cycle</a>.</p>
      </div>
    </div>
  </div>

  <div class="frontpage-expander" data-tag="content-3" id="defense-cells">
    <div class="frontpage-expander__header-wrapper">
      <iframe src="https://www.youtube.com/embed/{{page.expander_3_video}}?rel=0" " frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="frontpage-expander__header editable">
        <h2>Get organized through defense cells</h2>
        <p class="large">Our mission is to help you get organized in cyber defense through defense cells. We want to get both cyber security centers and other cyber officials connected with companies and help them share the critical threat information between each other.</p>
      </div>
    </div>
    <div class="frontpage-expander__content" data-tag="content-3">
      <div class="editable">
        <p><img alt="expander content image" src="/images/content/defense1.svg" width="316" height="120" /></p>
        <h3>Defense cell hub shares information</h3>
        <p>In the heart of a defense cell there is a hub that receives and shares the essential threat information. A hub can typically be a national computer emergency response team or a cyber security center. Or, in big organizations and companies a headquarters or other central unit can act as a hub and deliver the information to the other units.</p>
      </div>
    </div>
    <div class="frontpage-expander__content" data-tag="content-3">
      <div class="editable">
        <p><img alt="expander content image" width="274" height="120" src="/images/content/defense2-2.svg" /></p>
        <h3>Defense cell nodes receive and use the information</h3>
        <p>The role of the nodes in the defense cell is to collect the critical cyber threat information from their hub and act accordingly. For example, companies that are providing critical infrastructure can protect against the cyber threats reported to them by a national cyber security center.</p>
      </div>
    </div>
  </div>
</div>
{% include posts.html limit=3 title='Guides' filter_category=page.filter_category %}
{% include news.html %}
{% include events-and-careers.html %}
{% include mailing-list-form.html %}