---
layout: news
navigation:
  show_in_navigation: true
  nav_order: '4'
  nav_title: News & Events
filter_category:
  - events
mailing_list_form: true
title:
description:
meta_title:
meta_description:
og_image_path: '/images/site/logo_text2_blue.svg'
twitter_image_path:
og_title:
og_description:
---
<div class="news-header">
  <div class="news-page__title">
    <h1 class="editable">Stay in the Loop</h1>
    <p class="large editable">Hear our latest news and meet us at current events</p>
  </div>
</div>
{% include news.html hide_discover_more=true multirow=true limit=30 %}
<div class="news-page__loadmore-wrapper">
  <span class="news-page__loadmore" id="news-page__loadmore">Load More<i class="icon-arrow_down"></i></span>
  <a href="/news/show-all" class="news-page__loadmore" id="show-all" style="visibility: hidden; position: absolute;">Show all<i class="icon-arrow_down"></i></a>
</div>
{% include events-no-background.html %}
{% include posts.html limit=3 title="Past Events" show_date=true no_blog_link=true filter_category=page.filter_category %}
{% include mailing-list-form.html %}
