---
layout: news
navigation:
  show_in_navigation: true
  nav_order: '4'
  nav_title: News & Events
mailing_list_form: true
header_image_path: /images/content/news.svg
header_image_mobile_path: /images/content/news-tablet.svg
display_loadmore: true
title:
description:
meta_title:
meta_description:
og_image_path: /images/content/news.svg
twitter_image_path:
og_title:
og_description:
---

<div class="news__header">
  <div class="news__header-text">
    <h1 class="editable">
      Stay connected
    </h1>
    <p class="large editable">
      Learn what's new and where to meet us.
    </p>
  </div>
  <img class="news__header-image image-desktop" src="{{page.header_image_path}}" alt="news header image" />
  <img class="news__header-image image-mobile" src="{{page.header_image_mobile_path}}" alt="news header image" />
</div>
{% include news.html hide_discover_more=true multirow=true limit=30 %}
{% if page.display_loadmore %}
<div class="news-page__loadmore-wrapper">
  <span class="news-page__loadmore" id="news-page__loadmore">Load More<i class="icon-arrow_down"></i></span>
  <a href="/news/show-all" class="news-page__loadmore" id="show-all" style="visibility: hidden; position: absolute;">Show all<i class="icon-arrow_down"></i></a>
</div>
{% endif %}
{% include events-no-background.html %}
{% include events-posts.html limit=3 title="Past Events" show_date=true %}
{% if page.display_loadmore %}
<div class="blog-page__loadmore-wrapper">
  <span class="blog-page__loadmore" id="blog-page__loadmore">Load More<i class="icon-arrow_down"></i></span>
  <a href="/blog/show-all" class="blog-page__loadmore" id="show-all" style="visibility: hidden; position: absolute;">Show all<i class="icon-arrow_down"></i></a>
</div>
{% endif %}
{% include mailing-list-form.html %}
