---
layout: news
news_filter: true
navigation:
  show_in_navigation: true
  nav_order: '4'
  nav_title: News & Events
---
<div class="news-header">
  <div class="news-page__title">
    <h1>Stay in the Loop</h1>
    <p class="large">Hear our latest news and meet us at current events</p>
  </div>
  <div class="news-filter">
    <span class="uppercase news-filter__label caption-light">Filter:</span>
    <div class="news-filter__buttons">
    {% for category in site.news_category %}
      <span data-category="{{category}}" class="uppercase news-filter__button caption-light">
      {% if category == 'press_release' %}
      press release
      {% else %}
      news
      {% endif %}
      </span>
    {% endfor %}
    </div>
  </div>
</div>
{% include news.html hide_discover_more=true multirow=true limit=100 %}
<div class="news-page__loadmore-wrapper">
  <span class="news-page__loadmore" id="news-page__loadmore">Load More<img class="site-icon" src="/images/icons/arrow_down.svg" /></span>
</div>
{% include events-no-background.html %}
