---
layout: empty
navigation:
  show_in_navigation: false
title: Test page with form
description: Test page with form
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
contact_form: true
contact_form_title: Titteli
contact_form_description_markdown: Descriptioni
contact_form_thankyou_title: Kiitos titteli
contact_form_thankyou_description: Kiitos descriptioni
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include navbar.html %}
	<main id="main-content" class="blog">
    <div class="blog__flex-container">
        <aside class="blog__contact"></aside>
      <article class="blog__article">
        <div class="blog__article-text editable">
          Editable content
          {% if page.contact_form %}
            {% include contact-form.html form_title=page.contact_form_title form_description=page.contact_form_description_markdown thankyou_title=page.contact_form_thankyou_title thankyou_description=page.contact_form_thankyou_description %}
          {% endif %}
        </div>
      </article>
    </div>
	</main>
	{% include footer.html %}
	{% include scripts.html %}
</body>
</html>
