---
layout: empty
navigation:
  show_in_navigation: false
title: Test
description:
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
contact_form: false
contact_form_title:
contact_form_description_markdown:
contact_form_thankyou_title:
contact_form_thankyou_description:
contact_form_tag_name:
_comments:
  contact_form_tag_name: Tag to filter contacts from this form in activecampaign
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include navbar.html %}
	<main id="main-content" class="blog">
    <div class="blog__flex-container">
        <aside class="blog__contact"></aside>
      <article class="blog__article">
        <div class="blog__article-text editable">
          Editable content
        </div>
        {% if page.contact_form %}
          {% include contact-form.html form_title=page.contact_form_title form_description=page.contact_form_description_markdown thankyou_title=page.contact_form_thankyou_title thankyou_description=page.contact_form_thankyou_description tag_name=page.contact_form_tag_name %}
        {% endif %}
      </article>
    </div>
	</main>
	{% include footer.html %}
	{% include scripts.html %}
</body>
</html>
