---
layout: empty
navigation:
  show_in_navigation: false
title: Test page with form
description: Test page with form
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
contact_form: true
contact_form_title: Titteli
contact_form_description_markdown: Descriptioni
contact_form_thankyou_title: Kiitos titteli
contact_form_thankyou_description: Kiitos descriptioni
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include navbar.html %}
	<main id="main-content" class="blog">
    <div class="blog__flex-container">
        <aside class="blog__contact"></aside>
      <article class="blog__article">
        <div class="blog__article-text editable">
          <p>Testiiiiiiiiii</p>
          <div class="contact-form__wrapper ">
            <h2>Tittli</h2>
            <p>Descriptioni</p>
            <form id="contact-form" class="contact-form">
              <div class="contact-form__input"><input type="text" id="first_name" data-validate="true" data-validate-max-length="20" name="first_name" /> <label for="first_name" id="first_name_label" class="caption-light">First name</label></div>
              <div class="contact-form__input"><input type="text" id="last_name" data-validate="true" data-validate-max-length="20" name="last_name" /> <label for="last_name" id="last_name_label" class="caption-light">Last name</label></div>
              <div class="contact-form__input"><input type="text" id="company_name" data-validate="true" data-validate-max-length="20" name="company_name" /> <label for="company_name" id="company_name_label" class="caption-light">Company name</label></div>
              <div class="contact-form__input"><input type="text" id="email" data-validate="true" data-validate-max-length="40" data-validate-min-length="8" data-validate-type="email" name="email" /> <label for="email" id="email_label" class="caption-light">Email</label></div>
              <div class="contact-form__input textarea"><textarea name="message" id="message"></textarea><label for="message" id="message_label" class="caption-light">Message</label></div>
              <div class="contact-form__checkbox-group"><span class="contact-form__fake-checkbox caption-light" data-for="newsletter_subscription"> <i class="icon-checkbox_empty"></i><i class="icon-checkbox_selected"></i> Subscribe to Arctic Security newsletter </span> <span class="contact-form__fake-checkbox caption-light" data-for="accept_privacy_policy"> <i class="icon-checkbox_empty"></i><i class="icon-checkbox_selected"></i><span> I accept the Arctic Security&nbsp;<a target="_blank" rel="noopener noreferrer" href="/privacy-policy/">privacy policy</a></span> </span> <input type="checkbox" value="true" hidden="" id="newsletter_subscription" name="newsletter_subscription" /> <input type="checkbox" value="true" data-required="true" hidden="" id="accept_privacy_policy" name="accept_privacy_policy" /></div>
              <div class="g-recaptcha" data-sitekey="6LeMRHkUAAAAAI1b2V2HekMx-muHN2xB12GuH5hH">&nbsp;</div><span class="contact-form__submit-button caption-light" id="contact-form__submit-button">Sbmit</span> <span class="contact-form__error-message caption-light" id="contact-form__error-message">Please fill missing fields</span>
              <div class="contact-form__input"><input type="submit" hidden="" id="contact-form__hidden-submit" /></div>
              <div class="contact-form__sent" id="contact-form__thankyou-text" style="visibility: hidden;">
                <h2>Kiitos titteli</h2>
                <p>Kiitos descriptioni</p>
              </div>
            </form>
          </div>
        </div>
      </article>
    </div>
	</main>
	{% include footer.html %}
	{% include scripts.html %}
</body>
</html>
