---
layout: product
name: Hub
description: Arctic Hub automates your cyber threat intelligence cycle.
product_image_path: /images/content/macbook.png
product_color: '#005ca9'
product_highlight_color: '#0077c6'
display_testimonials: false
testimonials:
  - title: Arctic Security HUB Testimonial
    description: >-
      Rem totam et consequatur iusto. Et quia culpa blanditiis laborum quia.
      Veniam dolores dolore nulla impedit vel quasi ab aut. Quod autem aliquid
      ipsa fuga suscipit in quisquam. Repudiandae harum qui quis.
    author: 'AUTHOR, COMPANY'
    image_path: /images/content/macbook.png
  - title: Testimonial 2
    description: >-
      Rem totam et consequatur iusto. Et quia culpa blanditiis laborum quia.
      Veniam dolores dolore nulla impedit vel quasi ab aut. Quod autem aliquid
      ipsa fuga suscipit in quisquam. Repudiandae harum qui quis.
    author: 'AUTHOR, COMPANY'
    image_path: /images/content/macbook.png
use_cases:
  posts:
    - 2018-10-23-testing-downloadable
use_cases_title: Use cases for Arctic Hub
contact_form: true
contact_form_title: Schedule a Demo
contact_form_description: >-
  Fill in the below form for a product demo with our solutions specialist. You
  can also mail us at contact@arcticsecurity.com or call us at +358 20 743 0010
contact_form_thankyou_title: Sent.
contact_form_thankyou_description: Thank you for contacting us.
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
---

<div class="product__header-nav">
  <a class="product__header-link left editable" href="/products"><img style="margin-right: 10px;" src="/images/site/arrow_left_filled.svg" alt="arrow left" />All products</a>
  <a class="product__header-link right editable" href="/products/node">Discover the NODE<img style="margin-left: 10px;" src="/images/site/arrow_left_filled.svg" alt="arrow right" /></a>
  <div class="product__nav-items hide-on-mobile" id="product-desktop-nav" style="background-color: {{page.product_highlight_color}};"></div>
</div>
<div class="product__header-wrapper sticky-image product-nav-item" id="threat-intelligence-cycle" data-nav="Threat Intelligence Cycle">
  <div class="product__header" style="background-color: {{page.product_color}};">
    <div class="product__header-content appear-animation">
      <img class="product-icon" alt="product icon" src="/images/site/logo_white.svg" />
      <h1 class="editable">Arctic HUB</h1>
      <p class="editable large">
        Automate your cyber threat intelligence cycle
      </p>
      <a href="/" class="product-video-button editable">Watch video</a>
      <div class="product-image">
        <img alt="{{page.name}}" src="{{page.product_image_path}}" />
      </div>
      <div class="product__info mobile-slider">
        <div class="product__info-section editable mobile-slider-visible">
          <div class="product__info-text">
            <h2>Threat Intelligence Cycle</h2>
            <p>Arctic Hub enables you to automate your cyber threat intelligence cycle where raw threat data is turned into actionable threat intelligence. This ensures you get the threat information collected, harmonized and disseminated in a timely and effective manner. Read further to learn 7 steps for a modern cyber threat intelligence cycle and how Arctic Hub can help you implement them.</p>
          </div>
        </div>
        <div class="product__info-section timeline editable">
          <div class="product__info-text"><span class="timeline-num">1</span>
            <h2>Collection</h2>
            <p>Cyber threat intelligence cycle starts with collecting threat data from a variety of threat indicator sources. In Arctic Hub you can configure all of these feeds and their properties.</p>
          </div>
        </div>
        <div class="product__info-section timeline editable">
          <div class="product__info-text"><span class="timeline-num">2</span>
            <h2>Processing</h2>
            <p>Once you have collected the threat data you should harmonize the attributes into a unified language to create rules for the automation. When you call the same things by the same name and keep disparate things separate you turn the collected threat indicator data into threat information. Arctic Hub does all of this automatically for you.</p>
          </div>
        </div>
        <div class="product__info-section timeline editable">
          <div class="product__info-text"><span class="timeline-num">3</span>
            <h2>Exploitation</h2>
            <p>Exploitation means a phase in the cyber threat intelligence cycle where data is enriched with additional information. In Arctic Hub, the threat data is matched against your customer configuration that enables later sharing the unique customer specific threat intelligence packages. Also, customer information as well as network and geolocation related attributes are augmented to the original data set in this phase. To get Arctic Hub do all of this for you automatically you first need to configure your customers by defining their internet presence.</p>
          </div>
        </div>
        <div class="product__info-section timeline editable">
          <div class="product__info-text"><span class="timeline-num">4</span>
            <h2>Analysis</h2>
            <p>In the analysis phase the data is broken into smaller parts to gain a better understanding of it. In Arctic Hub, threat information is matched against custom labeling rules in this phase. Moreover, custom tags are added in the data.</p>
          </div>
        </div>
        <div class="product__info-section timeline editable">
          <div class="product__info-text"><span class="timeline-num">5</span>
            <h2>Production</h2>
            <p>After analysis the threat intelligence packages are produced to be shared for the correct customers. Arctic Hub can do all of this automatically for you once you have configured the sharing parameters. You can select what kind of packages you want to create and which packages to share to which customers. Also, for each package you can choose if you want to share that via an email report or a direct API access.</p>
          </div>
        </div>
        <div class="product__info-section timeline editable">
          <div class="product__info-text"><span class="timeline-num">6</span>
            <h2>Dissemination</h2>
            <p>One of the most important phases in the threat intelligence cycle is to share the threat intelligence to the correct recipients. Once all the previous steps have been configured correctly in Arctic Hub no other actions are needed from you for the dissemination. Arctic Hub shares all the customer specific threat intelligence packages automatically for you.</p>
          </div>
        </div>
        <div class="product__info-section timeline editable">
          <div class="product__info-text">
            <span class="timeline-num">7</span>
            <h2>Feedback</h2>
            <p>Feedback helps you understand how the shared threat intelligence affects your stakeholders. With Arctic Hub you can see who of your customers access the information and when they are doing that.</p>
          </div>
        </div>
        <span class="mobile-slider-arrow left"><img src="/images/site/arrow_left_filled.svg" alt="arrow left" /></span>
        <span class="mobile-slider-arrow right"><img src="/images/site/arrow_left_filled.svg" alt="arrow right" /></span>
      </div>
    </div>
    <div class="product-image sticky appear-animation">
      <img alt="{{page.name}}" src="{{page.product_image_path}}" />
    </div>
  </div>
</div>

<div class="product__key-features product-nav-item" id="key-features" data-nav="Key Features">
  <h2 class="editable key-features__title"><i class="icon-product"></i>Key Features</h2>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img src="/images/content/notifications.svg" alt="notifications" class="editable" />
    </div>
    <div class="key-features__section-content editable">
      <h3>Automate intelligence sharing to your customers</h3>
      <p>Arctic Hub maps automatically the threat data to your customers based on their internet presence. You can also specify in a very detailed level on which kind of threat intelligence packages you want to send to each customer. Thus, your customers will get only the threat intelligence data that is valid for them. You can choose to send these via email reports or direct API access. This way your customers get the right information fast and can fix their issues quickly.</p>
    </div>
  </div>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img src="/images/content/dashboard.svg" alt="dashboard" class="editable" />
    </div>
    <div class="key-features__section-content editable">
      <h3>Control your threat intelligence</h3>
      <p>Arctic Hub can collect raw threat data from various threat feed providers. There are several integrations to both commercial and open source threat feeds available out-of-the-box in Arctic Hub. You are in control to choose which of them you want to activate in your use.</p>
      <p>Currently, the following integrations are available in Arctic Hub out-of-the-box:</p>
      <ul>
        <li>
          <p>https://abuse.ch/</p>
          <p>http://danger.rulez.sk/index.php/bruteforceblocker/</p>
          <p>https://www.malwaredomainlist.com/</p>
          <p>http://www.zone-h.org/?hz=1&nbsp;</p>
        </li>
        <li>
          <p>http://www.team-cymru.com/</p>
        </li>
        <li>
          <p>https://www.akamai.com/</p>
        </li>
        <li>
          <p>https://www.blueliv.com/</p>
        </li>
        <li>
          <p>https://www.fitsec.com/</p>
        </li>
        <li>
          <p>https://www.group-ib.com/</p>
        </li>
        <li>
          <p>https://openphish.com/</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img src="/images/content/feedback.svg" alt="feedback" class="editable" />
    </div>
    <div class="key-features__section-content editable">
      <h3>Get situational awareness</h3>
      <p>Arctic Hub dashboard shows you real-time information on the threats your customers have faced. You can also see how the threat data has been divided by different type of customers or observation time. This gives you situational awareness of your defense cell and you can follow up on the trends how your cyber security has improved over time.</p>
    </div>
  </div>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img src="/images/content/automate.svg" alt="integrate" class="editable" />
    </div>
    <div class="key-features__section-content editable">
      <h3>Get feedback on how your customers use the data</h3>
      <p>Arctic Hub shows you who of your customers have accessed the threat intelligence packages you have sent to them and when they have done that. This helps you understand how effective your threat intelligence sharing is and if your customers find it useful.</p>
    </div>
  </div>
  {% if page.display_testimonials %}
</div>
<div class="product-nav-item" data-nav="Testimonials" id="testimonials">
  <div class="product__testimonials">
    {% for testimonial in page.testimonials %}
      <div class="testimonial{% if forloop.first %} active{% endif %}">
        <div class="testimonial__content">
          <h2>{{testimonial.title}}</h2>
          <p>{{testimonial.description}}</p>
          <p class="caption-light">{{testimonial.author}}</p>
        </div>
        <div class="testimonial__image">
          <img src="{{testimonial.image_path}}" alt="{{testimonial.title}}" />
        </div>
      </div>
    {% endfor %}
    <span class="testimonial__slider-arrow left"><img src="/images/site/arrow_left_filled.svg" alt="arrow left" /></span>
    <span class="testimonial__slider-arrow right"><img src="/images/site/arrow_left_filled.svg" alt="arrow right" /></span>
  </div>
  {% endif %}
  {% capture includeposts %}{% for post in page.use_cases.posts %}{{ post }},{% endfor %}{% endcapture %}
  {% include posts.html posts=includeposts title=page.use_cases_title %}
</div>

<div class="product-nav-item" id="schedule-a-demo" data-nav="Schedule a Demo">
  {% include contact-form.html class="product-contact-form" form_title=page.contact_form_title form_description=page.contact_form_description thankyou_title=page.contact_form_thankyou_title thankyou_description=page.contact_form_thankyou_description schedule_a_demo=page.name %}
</div>

{% include products-list.html class="product-page" %}