---
layout: product
name: Node
description: Arctic Node is our upcoming product that helps companies receive security threat information from central organizations using Arctic Hub or any other reliable source and distribute that further in their network.
product_image_path: /images/content/macbook.png
product_color: '#00738d'
product_highlight_color: '#0092b3'
testimonials:
  - title: Arctic Security NODE Testimonial
    description: Rem totam et consequatur iusto. Et quia culpa blanditiis laborum quia. Veniam dolores dolore nulla impedit vel quasi ab aut. Quod autem aliquid ipsa fuga suscipit in quisquam. Repudiandae harum qui quis.
    author: AUTHOR, COMPANY
    image_path: /images/content/macbook.png
  - title: Testimonial 2
    description: Rem totam et consequatur iusto. Et quia culpa blanditiis laborum quia. Veniam dolores dolore nulla impedit vel quasi ab aut. Quod autem aliquid ipsa fuga suscipit in quisquam. Repudiandae harum qui quis.
    author: AUTHOR, COMPANY
    image_path: /images/content/macbook.png
use_cases:
  posts:
    - 2018-10-23-testing-downloadable.md
    - 2018-10-23-testing-downloadable.md
    - 2018-10-23-testing-downloadable.md
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
---
<div class="product__header-nav">
  <a class="product__header-link left editable" href="/products"><img style="margin-right: 10px;" src="/images/site/arrow_left_filled.svg" alt="arrow left"/>All products</a>
  <a class="product__header-link right editable" href="/products/hub">Discover the HUB<img style="margin-left: 10px;" src="/images/site/arrow_left_filled.svg" alt="arrow right"/></a>
  <div class="product__nav-items hide-on-mobile" id="product-desktop-nav" style="background-color: {{page.product_highlight_color}};"></div>
</div>
<div class="product__header-wrapper product-nav-item" id="node-use-process" data-nav="NODE Use Process">
  <div class="product__header" style="background-color: {{page.product_color}};">
    <div class="product__header-content">
      <img class="product-icon" alt="product icon" src="/images/site/logo_white.svg">
      <h1 class="editable">Arctic NODE</h1>
      <p class="editable large">Arctic Node informs you what you need to fix</p>
      <a href="/" class="product-video-button editable">Watch video</a>
    </div>
    <div class="product-image">
      <img alt="{{page.name}}" src="{{page.product_image_path}}" />
    </div>
  </div>
  <div class="product__info mobile-slider" style="background-color: {{page.product_color}};">
    <div class="product__info-section editable mobile-slider-visible">
      <div class="product__info-image">
        <img src="/images/content/understand-node.svg" alt="understand node" class="editable" />
      </div>
      <div class="editable product__info-text">
        <h2>Understand your cyber resilience</h2>
        <p>Arctic Node collects the cyber threat intelligence from Arctic Hub or other relevant sources and helps you understand the status of your cyber resilience.</p>
      </div>
    </div>
    <div class="product__info-section editable">
      <div class="product__info-image">
        <img src="/images/content/know-node.svg" alt="know node" class="editable" />
      </div>
      <div class="editable product__info-text">
        <h2>Know what you need to fix</h2>
        <p>Whenever you get information on critical issues in your own network you know what you need to fix immediately. You can even automate some of the fixes by integrating Arctic Node to your existing security information and event management systems.</p>
      </div>
    </div>
    <div class="product__info-section editable">
      <div class="product__info-image">
        <img src="/images/content/avoid-node.svg" alt="avoid node" class="editable" />
      </div>
      <div class="editable product__info-text">
        <h2>Avoid cyber threats</h2>
        <p>Arctic Node gives you information on cyber threats around you. You can use this information to make sure your network traffic, logs and security devices do not show indications of those threats. Integration to network security sensors [link to sensor feature text] helps you automate monitoring your network traffic.</p>
      </div>
    </div>
    <div class="product__info-section editable">
      <div class="product__info-image">
        <img src="/images/content/strengthen-node.svg" alt="strengthen node" class="editable" />
      </div>
      <div class="editable product__info-text">
        <h2>Strengthen your defense cell</h2>
        <p>Users of Arctic Node can strengthen their defense cell [link to defense cell explanation on the front page] by validating the data shared by their Hub. For example, you can confirm a sighting of a malware URL or a command and control server.</p>
      </div>
    </div>
    <span class="mobile-slider-arrow left"><img src="/images/site/arrow_left_filled.svg" alt="arrow left"/></span>
    <span class="mobile-slider-arrow right"><img src="/images/site/arrow_left_filled.svg" alt="arrow right"/></span>
  </div>
</div>

<div class="product__key-features product-nav-item" id="key-features" data-nav="Key Featues">
  <h2 class="editable key-features__title"><i class="icon-product"></i>Key Features</h2>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img src="/images/content/automate.svg" alt="threat feed" class="editable">
    </div>
    <div class="key-features__section-content editable">
      <h3>Integrate with threat feeds</h3>
      <p>Arctic Node can collect threat intelligence directly from a cyber security center or other central operator using Arctic Hub. In addition, you can choose to integrate different commercial or open source threat feeds in your Arctic Node. See the list of our threat feed partners. [link to About Us / Partners]</p>
      <div class="key-features__link-list editable">
        <a href="#">Threat feed provider 1</a>
        <a href="#">Threat feed provider 2</a>
        <a href="#">Threat feed provider 3</a>
        <a href="#">Threat feed provider 4</a>
      </div>
    </div>
  </div>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img src="/images/content/dashboard.svg" alt="cyber resilience" class="editable">
    </div>
    <div class="key-features__section-content">
      <h3>Understand your cyber resilience</h3>
      <p>Arctic Node dashboard shows you real-time information on the threats you have faced. This gives you a good overall picture on your cyber resilience and you can follow up on the trends how your cyber resilience has improved over time.</p>
    </div>
  </div>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img src="/images/content/integrate.svg" alt="siem" class="editable">
    </div>
    <div class="key-features__section-content">
      <h3>Integrate with SIEM</h3>
      <p>By integrating Arctic Node to your existing security information and event management systems you can improve the speed of fixing the critical issues in your network.</p>
    </div>
  </div>
</div>

<div class="product__testimonials product-nav-item" id="testimonials" data-nav="Testimonials">
  {% for testimonial in page.testimonials %}
    <div class="testimonial{% if forloop.first %} active{% endif %}">
      <div class="testimonial__content">
        <h2>{{testimonial.title}}</h2>
        <p>{{testimonial.description}}</p>
        <p class="caption-light">{{testimonial.author}}</p>
      </div>
      <div class="testimonial__image">
        <img src="{{testimonial.image_path}}" alt="{{testimonial.title}}" />
      </div>
    </div>
  {% endfor %}
  <span class="testimonial__slider-arrow left"><img src="/images/site/arrow_left_filled.svg" alt="arrow left"/></span>
  <span class="testimonial__slider-arrow right"><img src="/images/site/arrow_left_filled.svg" alt="arrow right"/></span>
</div>

<div class="product-nav-item" id="schedule-a-demo" data-nav="Schedule a Demo">
  
</div>
