---
layout: product
name: Node
description: Arctic Node lets you know what you need to fix.
product_image_path: /images/content/macbook.png
product_color: '#00738d'
product_highlight_color: '#0092b3'
display_testimonials: false
testimonials:
  - title: Arctic Security NODE Testimonial
    description: >-
      Rem totam et consequatur iusto. Et quia culpa blanditiis laborum quia.
      Veniam dolores dolore nulla impedit vel quasi ab aut. Quod autem aliquid
      ipsa fuga suscipit in quisquam. Repudiandae harum qui quis.
    author: 'AUTHOR, COMPANY'
    image_path: /images/content/macbook.png
  - title: Testimonial 2
    description: >-
      Rem totam et consequatur iusto. Et quia culpa blanditiis laborum quia.
      Veniam dolores dolore nulla impedit vel quasi ab aut. Quod autem aliquid
      ipsa fuga suscipit in quisquam. Repudiandae harum qui quis.
    author: 'AUTHOR, COMPANY'
    image_path: /images/content/macbook.png
use_cases:
  posts:
use_cases_title: Use cases for Arctic NODE
contact_form: true
contact_form_title: Schedule a Demo
contact_form_description_markdown: >-
  Fill in the below form for sales enquiries, schedule a product demo,
  partnership opportunities and other enquiries. You can also mail us at
  [contact@arcticsecurity.com](mailto:contact@arcticsecurity.com) or call us at
  +358 20 743 0010
contact_form_thankyou_title: Sent.
contact_form_thankyou_description: Thank you for contacting us.
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
---

<div class="product__header-nav">
  <a class="product__header-link left editable" href="/products"><img style="margin-right: 10px;" src="/images/site/arrow_left_filled.svg" alt="arrow left" />All products</a>
  <a class="product__header-link right editable" href="/products/hub">Discover the HUB<img style="margin-left: 10px;" src="/images/site/arrow_left_filled.svg" alt="arrow right" /></a>
  <div class="product__nav-items hide-on-mobile" id="product-desktop-nav" style="background-color: {{page.product_highlight_color}};"></div>
</div>
<div class="product__header-wrapper product-nav-item" id="node-use-process" data-nav="Benefits" style="background-color: {{page.product_color}};">
  <div class="product__header">
    <div class="product__header-content appear-animation">
      <img class="product-icon" alt="product icon" src="/images/site/logo_white.svg" />
      <h1 class="editable">Arctic NODE</h1>
      <p class="editable large">
        Know what you need to fix
      </p>
      <a href="/" class="product-video-button editable">Watch video</a>
    </div>
    <div class="product-image appear-animation">
      <img alt="{{page.name}}" src="{{page.product_image_path}}" />
    </div>
  </div>
  <div class="product__info mobile-slider appear-animation product__node">
    <div class="product__info-section editable mobile-slider-visible">
      <div class="product__info-image"><img alt="understand node" src="/images/content/understand-node.svg" /></div>
      <div class="product__info-text">
        <h2>Improve your cyber security</h2>
        <p>Arctic Node collects the cyber threat intelligence from Arctic Hub or other relevant sources and helps you become more resilient in cyber security.</p>
      </div>
    </div>
    <div class="product__info-section editable">
      <div class="product__info-image"><img alt="know node" src="/images/content/know-node.svg" /></div>
      <div class="product__info-text">
        <h2>Automate your information flows</h2>
        <p>Whenever you get information on critical issues in your own network you know what you need to fix immediately. To make the process even smoother you can automate some of the information flows by integrating Arctic Node to your existing security information and event management systems.</p>
      </div>
    </div>
    <div class="product__info-section editable">
      <div class="product__info-image"><img alt="avoid node" src="/images/content/avoid-node.svg" /></div>
      <div class="product__info-text">
        <h2>Be aware of cyber threats</h2>
        <p>Arctic Node gives you information on cyber threats around you. You can use this information to make sure your network traffic, logs and security devices do not show indications of those threats. Integration to network security sensors helps you automate monitoring your network traffic.</p>
      </div>
    </div>
    <div class="product__info-section editable">
      <div class="product__info-image"><img alt="strengthen node" src="/images/content/strengthen-node.svg" /></div>
      <div class="product__info-text">
        <h2>Strengthen your defense cell</h2>
        <p>Users of Arctic Node can strengthen their <a href="/#defense-cells">defense cell</a>&nbsp;by giving information back to their Hub. For example, you can validate the received data by confirming a sighting of a malware URL or a command and control server. Or, you can inform your Hub about the new threats you have found.</p>
      </div>
    </div>
    <span class="mobile-slider-arrow left"><img src="/images/site/arrow_left_filled.svg" alt="arrow left" /></span>
    <span class="mobile-slider-arrow right"><img src="/images/site/arrow_left_filled.svg" alt="arrow right" /></span>
  </div>
</div>

<div class="product__key-features product-nav-item" id="key-features" data-nav="Key Features">
  <h2 class="editable key-features__title"><i class="icon-product"></i>Key Features</h2>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img src="/images/content/automate.svg" alt="threat feed" class="editable" />
    </div>
    <div class="key-features__section-content editable">
      <h3>Integrated with threat intelligence feeds and platforms</h3>
      <p>Arctic Node can collect threat intelligence directly from a cyber security center or other central operator using Arctic Hub. In addition, there are tens of integrations to both commercial and open source threat feeds available out-of-the-box in Arctic Node. You are in control to choose which of them you want to activate in your use. Or, you can even choose to integrate Arctic Node with your existing threat intelligence platform.</p>
      <p>Here are some of the examples of the integrations that are available in Arctic Node out-of-the-box:</p>
      <ul>
        <li><a target="_blank" href="https://abuse.ch/">Abuse.ch</a></li>
        <li><a target="_blank" href="https://osint.bambenekconsulting.com/feeds/">Bambenek Consulting</a></li>
        <li><a target="_blank" href="http://danger.rulez.sk/index.php/bruteforceblocker/">Brute Force Blocker by Daniel Gerzo</a></li>
        <li>DDOS-Tracker by CISPA</li>
        <li><a target="_blank" href="https://www.malwaredomainlist.com/">Malware Domain List</a></li>
        <li><a target="_blank" href="http://www.team-cymru.com/">Team Cymru</a></li>
        <li><a target="_blank" href="https://www.akamai.com/">Akamai</a></li>
        <li><a target="_blank" href="https://www.blueliv.com/">Blueliv</a></li>
        <li><a target="_blank" href="https://www.fitsec.com/">Fitsec</a></li>
        <li><a target="_blank" href="https://www.group-ib.com/">Group-IB</a></li>
        <li><a target="_blank" href="https://openphish.com/">OpenPhish</a></li>
        <li><a target="_blank" href="https://www.spamhaus.org/">Spamhaus</a></li>
        <li><a target="_blank" href="http://www.zone-h.org/?hz=1">Zone-h</a></li>
      </ul>
    </div>
  </div>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img alt="cyber resilience" class="editable" src="/images/content/sensors.svg" />
    </div>
    <div class="key-features__section-content editable">
      <h3>Integrated with security sensors</h3>
      <p>Arctic Node can be integrated to security sensors. It helps improve your network security once you deploy sensors that can automatically receive the latest cyber threat data in their use. The sensors can alert you whenever suspicious traffic is detected.</p>
      <p>Arctic Node supports the following network security sensors out-of-the-box:</p>
      <ul>
        <li><a target="_blank" href="https://ruggedtooling.com/prescope-cyber-security-sensor/">Rugged Tooling PreScope</a></li>
        <li><a target="_blank" href="https://sensorfleet.com/">SensorFleet</a></li>
      </ul>
    </div>
  </div>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img src="/images/content/integrate.svg" alt="siem" class="editable" />
    </div>
    <div class="key-features__section-content editable">
      <h3>Integrated with SIEM</h3>
      <p>Arctic Node can be integrated to your existing security information and event management systems. By getting the up-to-date threat intelligence to your SIEM you get better analysis of your logs and find out the issues.</p>
    </div>
  </div>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img alt="siem" class="editable" src="/images/content/ticketing.svg" />
    </div>
    <div class="key-features__section-content editable">
      <h3>Integrated with incident response platforms and ticketing</h3>
      <p>To improve the speed of fixing the critical issues in your network you can choose to automate the information flows even further by integrating Arctic Node with your incident response platforms and ticketing systems.</p>
    </div>
  </div>
  <div class="key-features__section">
    <div class="key-features__section-image">
      <img alt="siem" class="editable" src="/images/content/dashboard.svg" />
    </div>
    <div class="key-features__section-content editable">
      <h3>Get situational awareness</h3>
      <p>Arctic Node dashboard shows you real-time information on the threats you have faced. This gives you situational awareness and you can follow up on the trends how your cyber security has improved over time.</p>
    </div>
  </div>
{% if page.display_testimonials %}
</div>
<div class="product-nav-item" data-nav="Testimonials" id="testimonials">
  <div class="product__testimonials">
    {% for testimonial in page.testimonials %}
      <div class="testimonial{% if forloop.first %} active{% endif %}">
        <div class="testimonial__content">
          <h2>{{testimonial.title}}</h2>
          <p>{{testimonial.description}}</p>
          <p class="caption-light">{{testimonial.author}}</p>
        </div>
        <div class="testimonial__image">
          <img src="{{testimonial.image_path}}" alt="{{testimonial.title}}" />
        </div>
      </div>
    {% endfor %}
    <span class="testimonial__slider-arrow left"><img src="/images/site/arrow_left_filled.svg" alt="arrow left" /></span>
    <span class="testimonial__slider-arrow right"><img src="/images/site/arrow_left_filled.svg" alt="arrow right" /></span>
  </div>
  {% endif %}
  {% capture includeposts %}{% for post in page.use_cases.posts %}{{ post }},{% endfor %}{% endcapture %}
  {% include posts.html posts=includeposts title=page.use_cases_title %}
</div>

<div class="product-nav-item" id="schedule-a-demo" data-nav="Schedule a Demo">
  {% include contact-form.html class="product-contact-form" form_title=page.contact_form_title form_description=page.contact_form_description_markdown thankyou_title=page.contact_form_thankyou_title thankyou_description=page.contact_form_thankyou_description schedule_a_demo=page.name %}
</div>

{% include products-list.html class="product-page" %}