<div class="contact-form__wrapper">
  <h2 class="editable">Contact Us</h2>
  <p class="editable">Fill in the below form for sales enquiries, schedule a product demo, 
    partnership opportunities and other enquiries. You can also mail us at 
    contact@arcticsecurity.com or call us at +358 20 743 0010</p>
  <form id="contact-form" class="contact-form">
    <div class="contact-form__input">
      <input type="text" name="first_name" id="first_name" />
      <label for="first_name" id="first_name_label" class="caption-light">First name</label>
    </div>
    
    <div class="contact-form__input">
      <input type="text" name="last_name" id="last_name" />
      <label for="last_name" id="last_name_label" class="caption-light">Last name</label>
    </div>

    <div class="contact-form__input">
      <input type="text" name="company_name" id="company_name" />
      <label for="company_name" id="company_name_label" class="caption-light">Company name</label>
    </div>

    <div class="contact-form__input">
      <input type="text" name="email" id="email" />
      <label for="email" id="email_label" class="caption-light">Email</label>
    </div>

    <div class="contact-form__input textarea">
      <textarea name="message" id="message"></textarea>
      <label for="message" id="message_label" class="caption-light">Message</label>
    </div>

    <div class="contact-form__checkbox-group">
      <div class="contact-form__input checkbox">
        <input type="checkbox" name="newsletter_subscription" id="newsletter_subscription" />
        <label for="newsletter_subscription" class="caption-light">Subscribe to Arctic Security Newsletter</label>
      </div>

      <div class="contact-form__input checkbox">
        <input type="checkbox" name="accept_privacy_policy" id="accept_privacy_policy" />
        <label for="accept_privacy_policy" class="caption-light">I Accept the Arctic Security privacy policy</label>
      </div>
    </div>

    <div class="contact-form__submit-button" id="contact-form__submit-button" class="caption-light">Submit</div>
  
    <div class="contact-form__input">
      <input type="submit" hidden id="contact-form__hidden-submit" />
    </div>
  </form>
</div>