<section class="events__wrapper">
  <div class="events__flex-container">
    <div class="events__content">
      <h3>Events</h3>
      <p>Welcome to meet our team and learn more about us in the following events!</p>
      <a class="hide_on_mobile events__see-more" href="/news/?filter=events">See all events</a>
    </div>
    <div class="events__list">
      {% assign sortedEvents = (site.events | sort: 'date') | reverse %}
      {% for event in sortedEvents | limit: 3 %}
        <a class="events__event" href="{{event.url}}">
          <div class="event__title">{{event.event_title}}</div>
          <div class="event__date">{{event.date}}</div>
        </a>
      {% endfor %}
      <a class="visible_on_mobile events__see-more" href="/news/#events"><br>See all events</a>
    </div>
  </div>
</section>
