{% assign pages = site.pages | sort:'navigation.nav_order' %}

<footer class="footer">
  <div class="footer__content-wrapper">
    <img class="footer__logo" src="/images/site/logo_blue.svg" alt="logo_blue" />
    <address class="footer__address">
      <div class="footer__address-name">{{ site.data.company.name }}</div>
      <a href="mailto:{{ site.data.company.email }}">{{ site.data.company.email }}</a>
      <a href="tel:{{ site.data.company.phone | remove: ' ' }}">{{ site.data.company.phone }}</a href="tel:{{ site.data.company.phone | remove: ' ' }}">
      <div>Business ID: {{ site.data.company.business_id }}</div>
      <a class="cloudcannon-edit-link" href="cloudcannon:collections/_data/company.yml">Edit company information</a>
    </address>
    <div class="footer__pages hide-on-mobile">
    {% for navitem in pages %}
      {% if navitem.navigation.show_in_navigation == true %}
        <a class="footer__page" href="{{ navitem.url }}">{{ navitem.navigation.nav_title }}</a>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <a href="{{ site.data.company.linkedin_url }}" class="footer__linkedin-link" target="_blank" rel="noopener noreferrer">Find us on LinkedIn<i class="arcsec-widget_live2"></i></a>
</footer>
