<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page._noindex == true %}
  <meta name="robots" content="noindex">
  {% endif %}
  <title>{{site.title}}
    {% if page.meta_title %} | {{page.meta_title}}
    {% elsif page.job_title %} | {{page.job_title}}
    {% elsif page.news_article_title %} | {{page.news_article_title}}
    {% elsif page.blog_title %} | {{page.blog_title}}
    {% elsif page.title %} | {{page.title}}{% endif %}
  </title>

  {% assign title="" %}
  {% if page.meta_title %}
    {% assign title=page.meta_title %}
  {% elsif page.job_title %}
    {% assign title=page.job_title %}
  {% elsif page.news_article_title %}
    {% assign title=page.news_article_title %}
  {% elsif page.blog_title %}
    {% assign title=page.blog_title %}
  {% elsif page.title%}
    {% assign title=page.title %}
  {% else %}
    {% assign title=site.title %}
  {% endif %}

  {% assign description="" %}
  {% if page.meta_description %}
    {% assign description=page.meta_description %}
  {% elsif page.job_description %}
    {% assign description=page.job_description %}
  {% elsif page.news_article_description %}
    {% assign description=page.news_article_description %}
  {% elsif page.blog_description %}
    {% assign description=page.blog_description %}
  {% elsif page.description %}
    {% assign description=page.description %}
  {% else %}
    {% assign description=site.description %}
  {% endif %}

  <meta name="title" content="{{title}}">
  <meta name="description" content="{{description}}">
  <link rel="manifest" href="/manifest.json">

  <!--OG data-->
  <!--<meta property="fb:app_id"        content="425043977693965" />-->
  {% assign shareUrl = page.url | prepend: site.url %}
  {% assign siteUrl = site.url %}
  {% unless page.og_image_path %}
      {% assign ogImage = site.og_image_path | prepend: site.url %}
  {% else %}
      {% assign ogImage = page.og_image_path | prepend: site.url %}
  {% endunless %}
  <meta property="og:url"           content="{{ shareUrl }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:site_name"     content="arcticsecurity.com"/>
  <meta property="og:title"         content="{{title}}" />
  <meta property="og:description"   content="{{description}}" />
  <meta property="og:image"         content="{{ ogImage }}" />
  <meta property="og:image:width"   content="1200" />
  <meta property="og:image:height"  content="1200" />
  {% if page.twitter_image_path %}
  <meta property="twitter:image"    content="{{ page.twitter_image_path | prepend: site.url }}" />
  {% endif %}
  <meta name="twitter:card" content="summary_large_image" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-title" content="Arctic Security">
  <meta name="application-name" content="Arctic Security">
 
  {% assign randomNumber=site.time | date: "%m%y%M%H%d%S" | plus:9562 %}
  <link rel="stylesheet" href="/css/main.css?{{randomNumber}}">
</head>
