<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page._noindex == true %}
  <meta name="robots" content="noindex">
  {% endif %}
  <title>{{site.title}}{% if page.meta_title %} | {{page.meta_title}}
    {% elsif page.job_title %} | {{page.job_title}}
    {% elsif page.news_article_title %} | {{page.news_article_title}}
    {% elsif page.blog_title %} | {{page.blog_title}}
    {% elsif page.title %} | {{page.title}}{% endif %}
  </title>
  {% assign title="" %}
  {% if page.meta_title %}
    {% assign title=page.meta_title %}
  {% elsif page.job_title %}
    {% assign title=page.job_title %}
  {% elsif page.news_article_title %}
    {% assign title=page.news_article_title %}
  {% elsif page.blog_title %}
    {% assign title=page.blog_title %}
  {% elsif page.title%}
    {% assign title=page.title %}
  {% else %}
    {% assign title=site.title %}
  {% endif %}

  {% assign og_title="" %}
  {% if page.og_title %}
    {% assign og_title=page.og_title %}
  {% else %}
    {% assign og_title=title %}
  {% endif %}

  {% assign description="" %}
  {% if page.meta_description %}
    {% assign description=page.meta_description %}
  {% elsif page.job_description %}
    {% assign description=page.job_description %}
  {% elsif page.news_article_description %}
    {% assign description=page.news_article_description %}
  {% elsif page.blog_description %}
    {% assign description=page.blog_description %}
  {% elsif page.description %}
    {% assign description=page.description %}
  {% else %}
    {% assign description=site.description %}
  {% endif %}

  {% assign og_description="" %}
  {% if page.og_description %}
    {% assign og_description=page.og_description %}
  {% else %}
    {% assign og_description=description %}
  {% endif %}

  <meta name="title" content="{{title}}">
  <meta name="description" content="{{description}}">
  <link rel="manifest" href="/manifest.json">

  {% assign shareUrl = page.url | prepend: site.url %}
  {% assign siteUrl = site.url %}
  {% unless page.og_image_path %}
      {% assign ogImage = site.og_image_path | prepend: site.url %}
  {% else %}
      {% assign ogImage = page.og_image_path | prepend: site.url %}
  {% endunless %}
  <meta property="og:url"           content="{{ shareUrl }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:site_name"     content="arcticsecurity.com"/>
  <meta property="og:title"         content="{{og_title}}" />
  <meta property="og:description"   content="{{og_description}}" />
  <meta property="og:image"         content="{{ ogImage }}" />
  <meta property="og:image:width"   content="1200" />
  <meta property="og:image:height"  content="1200" />
  {% if page.twitter_image_path %}
  <meta property="twitter:image"    content="{{ page.twitter_image_path | prepend: site.url }}" />
  {% endif %}
  <meta name="twitter:card" content="summary_large_image" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-title" content="{{site.title}}">
  <meta name="application-name" content="{{site.title}}">
 
  {% assign randomNumber=site.time | date: "%m%y%M%H%d%S" | plus:9562 %}
  <link rel="stylesheet" href="/css/main.css?{{randomNumber}}">
  {% include google-scripts.html share_url=shareUrl %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124840824-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-124840824-1');
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
  {'gtm.start': new Date().getTime(),event:'gtm.js'}
  );var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5N89N9Q');
  </script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
