<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page._noindex == true %}
  <meta name="robots" content="noindex">
  {% endif %}
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="description" content="{% if page.page_description %}{{ page.page_description }}{% endif %}">
  <link rel="manifest" href="/manifest.json">

  <!--OG data-->
  <!--<meta property="fb:app_id"        content="425043977693965" />-->
  {% assign shareUrl = page.url | prepend: site.url %}
  {% assign siteUrl = site.url %}
  {% unless page.og_image_path %}
      {% assign ogImage = '/images/site/og-image.jpg' | prepend: site.url %}
  {% else %}
      {% assign ogImage = page.og_image_path | prepend: site.url %}
  {% endunless %}
  <meta property="og:url"           content="{{ shareUrl }}" />
  <meta property="og:type"          content="website" />
  <!--<meta property="og:site_name"     content="arcticsecurity.com"/>-->
  <meta property="og:title"         content="{% if page.blog_title %}{{ page.blog_title }}{% else %}{{ page.title }}{% endif %}" />
  <meta property="og:description"   content="{% if page.page_description %}{{ page.page_description }}{% elsif page.short_description %}{{ page.short_description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image"         content="{{ ogImage }}" />
  <meta property="og:image:width"   content="1200" />
  <meta property="og:image:height"  content="1200" />
  {% if page.twitter_image_path %}
  <meta property="twitter:image"    content="{{ page.twitter_image_path | prepend: site.url }}" />
  {% endif %}
  <meta name="twitter:card" content="summary_large_image" />

  <!--Other metas-->
  <!--<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#F8485E">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-title" content="Arctic Security">
  <meta name="application-name" content="Arctic Security">-->
 
  {% assign randomNumber=site.time | date: "%m%y%M%H%d%S" | plus:9562 %}
  <link rel="stylesheet" href="/css/main.css?{{randomNumber}}">
</head>
