<div class="jobs__wrapper no-background">
  <section class="jobs">
    <div class="jobs__flex-container">
      <div class="jobs__content">
        <h2 class="editable"><i class="icon-careers"></i>Careers</h2>
        <p class="editable">Join our team and help us build the next generation of Cyber Defense!</p>
      </div>
      <div class="jobs__list">
        {% if include.limit %}
          {% assign limit = include.limit%}
        {% else %}
          {% assign limit = 3 %}
        {% endif %}
        {% assign sortedJobs = (site.jobs | sort: 'date') | reverse %}
        {% for job in sortedJobs | limit: limit %}
          <a class="jobs__job" href="{{job.url}}">
            <h3 class="job__title">{{job.job_title}}</h3>
            <p class="job__team caption-light">{{job.team}}</p>
            <i class="icon-arrow_right_naked"></i>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
