<div class="mailing-list-form__wrapper">
  <form id="mailing-list-form" class="mailing-list-form">
    <div class="mailing-list-form__text">
      <h2 class="editable">Don't be alone in cyber.</h2>
      <p class="editable">Let us help you with sharing the latest news and best practices for cyber defense.</p>
    </div>
    <div class="mailing-list-form__input">
      <input type="text" name="email" id="email" data-validate="true" data-validate-max-length="40" data-validate-min-length="8" data-validate-type="email" placeholder="Your E-mail address" />
      <div class="g-recaptcha" data-sitekey="6LevQXkUAAAAACEcS0lo7cda9nMhehSvI0SJ_1jp"></div>
      <span class="mailing-list-form__submit-button caption-light" id="mailing-list-form__submit-button">Sign up</span>
    </div>
    <input type="submit" hidden id="mailing-list-form__hidden-submit" />
    <p class="editable caption-light">
      By subscribing I Accept the Arctic Security <a href="/privacy-policy/">privacy policy</a>
    </p>
    <div class="editable mailing-list-form__sent" id="mailing-list-form__thankyou-text" style="visibility: hidden;"><h2>Sent.</h2><p>Thank you for contacting us.</p></div>
  </form>
</div>