<div class="mailing-list-form__wrapper">
  <form id="mailing-list-form" class="mailing-list-form">
    <div class="mailing-list-form__text">
      <h2 class="editable"><a href="/check/">Get a free report</a> of your security posture now to find out your organization’s situation in detail.</h2>
      <!-- <span class="mailing-list-form__submit-button caption-light" id="mailing-list-form__submit-button">Sign up</span> -->
    </div>
      <div class="mailing-list-form__input">
        <p class="editable">Currently, there are millions of compromised devices and vulnerable services running on the Internet.
                            Arctic Security has built solutions to help our customers catch cyber threats and alert victims before they cause harm to businesses.
                            Actionable threat information can help your business understand relevant threats around you, allocate resources, and support your overall security strategy.</p>
      </div>
    </div>
  </form>
</div>
