.about-us__header {
  max-width: 1192px;
  margin-top: 80px;
  width: 100%;
  @include display-flex();
  @include flex-justify(space-between);
  position: relative;

  .about-us__header-text {
    @include display-flex();
    @include flex-direction(column);

    p {
      color: $color-gray-blue;
    }
  }

  .about-us__header-image {
    min-width: 781px;
    margin-left: 70px;
  }

  @media only screen and (max-width: $screen-width-desktop-min - 1) {
    max-width: 692px;
    margin-top: 32px;
    @include flex-direction(column-reverse);

    .about-us__header-image {
      min-width: 100%;
      margin-left: 0;
      height: 100%;
    }

    h1, p {
      max-width: 331px;
    }

    .about-us__header-text {
      @include flex-direction(row);
      @include flex-align(center);
      @include flex-justify(space-between);
    }
  }

  @media only screen and (max-width: $screen-width-tablet-min - 1) {
    max-width: 331px;
    .about-us__header-text {
      @include flex-direction(column);
    }
  }
}

.about-us__jobs {
  margin-top: 150px;
  @media only screen and (max-width: $screen-width-desktop-min - 1) {
    margin-top: 75px;
  }
}

.about-us__text {
  @include display-flex();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include flex-justify(space-between);
  max-width: 1026px;
  width: 100%;
  margin-top: 70px;

  h3 {
    width: 100%;
  }

  p {
    color: $color-gray-blue;
    width: 450px;
  }

  @media only screen and (max-width: $screen-width-desktop-min - 1) {
    max-width: 692px;
    p {
      width: 331px;
    }
  }

  @media only screen and (max-width: $screen-width-tablet-min - 1) {
    margin-top: 30px;
    max-width: 331px;
  }
}

.about-us__tab-slider.tab-slider {
  margin-bottom: 200px;
  @media only screen and (max-width: $screen-width-desktop-min - 1) {
    margin-bottom: 75px;
  }
}

.jobs__wrapper.no-background {
  .jobs {
    max-width: 1192px;
  }
}

.contact-form__wrapper.about-us__form-margin {
  margin-bottom: 350px;
}

@media only screen and (max-width: $screen-width-desktop-min - 1) {
  .jobs__wrapper.no-background {
    .jobs {
      max-width: 692px;
    }
    .jobs__flex-container {
      max-width: 692px;
      width: 100%;
      margin-left: 0;
      @include flex-justify(space-between);

      .jobs__list, .jobs__list * {
        max-width: 331px;
        margin-right: 0;
      }
      .jobs__content {
        max-width: 331px;
        margin-right: 0;
      }
    }
  }
  .contact-form__wrapper.about-us__form-margin {
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: $screen-width-tablet-min - 1) {
  .jobs__wrapper.no-background {
    .jobs {
      max-width: 331px;
    }
    .jobs__flex-container {
      max-width: 331px;
    }
    .jobs__list {
      margin-left: 0;
    }
  }
}