#main-content.blog {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 140px;
  .blog__flex-container {
    @include display-flex();
    max-width: 90%;
    margin: 0 auto 140px auto;
  }

  .blog__article {
    @include display-flex();
    @include flex-direction(column);
  }

  .blog__article-meta {
    @include display-flex();
    @include font-size(14px);
    font-family: $font-condensed;
    color: mix($color-dark-blue, $color-light-blue, 40);
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }

  .blog__article-category {
    color: $color-gray-blue;
    font-weight: $font-weight-bold;
  }

  .blog__article {
    max-width: 50%;
    overflow: hidden;

    .contact-form__wrapper {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .blog__contact {
    min-width: 25%;
    position: relative;
    @include display-flex();
    @include flex-direction(column);
    @include flex-align(center);

    .blog__articles-link {
      @include font-size(14px);
      @include display-flex();
      @include flex-align(center);
      color: $color-gray-blue;
      margin-bottom: 200px;

      i {
        margin-right: 12px;
        color: $color-arctic-blue;
      }

      &:hover {
        color: $color-dark-blue;
      }
    }

    .blog__contact-writer {
      max-width: 100%;
      text-align: center;
      @include display-flex();
      @include flex-direction(column);
      @include flex-align(center);
      margin-bottom: 50px;

      .blog__contact-image {
        max-width: 80px;
        width: 80px;
        border-radius: 40px;
        margin-bottom: 30px;
      }

      .blog__contact-name {
        font-family: $font-serif;
        color: $color-dark-blue;
        font-weight: $font-weight-bold;
        @include font-size(18px);
        line-height: 1.44;
        margin-bottom: 5px;
      }

      .blog__contact-title {
        font-weight: $font-weight-bold;
        @include font-size(14px);
        color: $color-gray-blue;
        letter-spacing: 1px;
      }
    }
  }

  .blog__share-title {
    display: none;
    @include font-size(14px);
    font-weight: $font-weight-bold;
    color: $color-gray-blue;
    letter-spacing: 1px;
    margin-bottom: 25px;
  }

  .blog__share-social-medias {
    display: none;
    @include font-size(22px);

    &>a {
      color: $color-gray-blue;
      @include transition(color 100ms ease-in-out);
    }

    *:not(:first-child) {
      margin-left: 20px;
    }

    .blog__share-li:hover i {
      color: $color-linkedin-blue;
    }
    .blog__share-tw:hover i {
      color: $color-twitter-blue;
    }
    .blog__share-fb:hover i {
      color: $color-facebook-blue;
    }
  }

  .blog__share-mobile {
    @include display-flex();
    @include flex-direction(column);
    @include flex-align(center);
    margin-top: 10px;
  }

  @media only screen and (min-width: $screen-width-desktop-min) {
    .blog__share-title, .blog__share-social-medias {
      &.hide-on-mobile {
        display: block;
      }
    }
    .blog__article {
      max-width: 60%;
    }
  }

  @media only screen and (max-width: $screen-width-desktop-min - 1) {
    margin-top: 0;

    .blog__article {
      max-width: 80%;
    }
    .blog__flex-container {
      @include flex-direction(column);
      @include flex-align(center);
    }

    .blog__share-title, .blog__share-social-medias {
      &.show-on-mobile {
        display: block;
      }
    }

    .blog__contact {
      max-width: 80%;
      width: 100%;
      margin-top: 100px;
      .blog__articles-link {
        margin-bottom: 0;
        top: -70px;
        left: 0;
        position: absolute;
      }
    }

    .blog__article-meta {
      @include flex-justify(center)
    }
  }

  @media only screen and (max-width: $screen-width-tablet-min - 1) {
    .blog__article {
      max-width: 90%;
    }

    .blog__contact {
      max-width: 90%;
      width: 100%;
    }
  }
}