.events__wrapper {
  @include display-flex();
  @include flex-justify(center);
  width: 100%;
  max-width: 97.5vw;
  margin-bottom: 50px;

  .events {
    background-color: $color-light-green;
    border-radius: 10px;
    @include display-flex();
    padding: 50px 75px;
  }

  .events__flex-container {
    @include display-flex();
    max-width: 1195px;
    width: 97.5vw * 0.8;
  }

  .events__content {
    height: 100%;
    width: 370px;
    min-width: 370px;
    margin-right: 40px;
  }

  .events__event {
    @include display-flex();
    @include flex-align(center);
    position: relative;

    &:not(:last-child):after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-bottom: 1px solid $color-border-blue;
      top: 0;
      left: 0;
    }
  }

  .event__title {
    min-width: 370px;
    max-width: 370px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .event__date {
    min-width: 370px;
    max-width: 370px;
  }

  @media only screen and (max-width: $screen-width-l - 1) {
    .events {
      padding: 0 26px 40px 26px;
    }

    .events__flex-container {
      @include flex-direction(column);
    }

    .events__content {
      min-width: 0;
      max-width: 100%;
    }

    .event__title {
      max-width: 100%;
      margin-right: 0;
    }

    .event__date {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: $screen-width-xxl - 1) {
    .events__event {
      @include flex-direction(column);
      @include flex-align(flex-start);
    }
  }
}
