$side-padding-mobile: 26px;

.events__wrapper {
  @include display-flex();
  @include flex-justify(center);
  width: 100%;
  max-width: 97.5vw;
  margin-bottom: 50px;

  .events {
    width: 100%;
    background-color: $color-light-blue;
    border-radius: 10px;
    @include display-flex();
    padding: 50px 75px;
  }

  .events__flex-container {
    @include display-flex();
    width: 100%;
  }

  .events__content {
    height: 100%;
    width: 370px;
    min-width: 370px;
    margin-right: calc(100% - 1150px);


    h2 {
      @include display-flex();
      @include flex-align(center);
      i {
        margin-right: 12px;
      }
    }
  }

  .events__event {
    @include display-flex();
    @include flex-align(center);
    position: relative;

    &:not(:last-child):after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-bottom: 1px solid $color-border-blue;
      top: 0;
      left: 0;
    }
  }

  .event__title {
    min-width: 370px;
    max-width: 370px;
    margin-bottom: 20px;
    margin-top: 20px;
    @include transition(color 100ms ease-in-out);
  }

  .event__date {
    min-width: 370px;
    max-width: 370px;
    color: $color-gray-blue;
    @include font-size(16px);
  }

  .events__see-more {
    color: $color-arctic-blue;
    font-weight: $font-weight-bold;
    @include font-size(16px);

    &:hover {
      color: mix($color-arctic-blue, white, 60);
    }
  }

  @media only screen and (max-width: $screen-width-desktop-min - 1) {
    .events {
      padding: 0 $side-padding-mobile 40px $side-padding-mobile;
    }

    .events__flex-container {
      @include flex-direction(column);
    }

    .events__content {
      min-width: 0;
      max-width: 100%;
      margin-right: 0;
    }
    
    .events__event {
      @include flex-direction(column);
      @include flex-align(flex-start);
    }

    .event__title {
      margin-bottom: 0;
      line-height: 1.67;
      margin-top: 25px;
    }

    .event__date {
      margin-top: 0;
      line-height: 1.63;
      margin-bottom: 25px;
    }
  }
}

.news-events-page.events__wrapper {
  .events {
    padding: 0;
    background: white;
  
    max-width: 1195px;
  }

  .events__event {
    @include flex-align(flex-start);

    .event__title {
      min-width: 370px;
      line-height: 1.25;
      margin-right: 40px;
    }
    .event__date {
      min-width: 370px;
      p {
        line-height: 1.56;
        &:first-child {
          margin-top: 24px;
        }
      }
    }
  }

  @media only screen and (max-width: $screen-width-desktop-min - 1) {
    .events__event {
      .event__title {
        margin-right: 0;
        min-width: 0;
      }
      .event__date {
        min-width: 0;
      }
    }


    .events {
      max-width: 95%;
      width: 780px;
    }

    .events__content {
      max-width: calc(50% - 20px);
    }

    .events__flex-container {
      @include flex-direction(row);
      @include flex-justify(space-between);
    }

    .events__list {
      max-width: calc(50% - 20px);
    }
  }

  @media only screen and (max-width: $screen-width-tablet-min - 1) {
    .events {
      @include flex-justify(center);
    }

    .events__content {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-bottom: 1px solid $color-border-blue;
        top: 0;
        left: 0;
      }
      max-width: 370px;
    }

    .events__flex-container {
      @include flex-direction(column);
      @include flex-align(center);
    }

    .events__list {
      max-width: 100%;
    }
  }
}
