.footer {
  width: 100%;
  position: absolute;
  font-family: $font-nav;
  color: $color-gray;

  a {
    color: $color-gray;

    &:hover {
      color: $color-dark-gray;
    }
  }

  bottom: -$footer-height-mobile;
  min-height: $footer-height-mobile;
  @media only screen and (min-width: $screen-width-l) {
    min-height: $footer-height;
    bottom: -$footer-height;
  }
  border-top: 1px solid $color-border-gray;
  padding: 0 30px;

  .footer__content-wrapper {
    @include display-flex();
    @include flex-justify(flex-start);
    @include flex-align(center);
    width: 100%;
    min-height: $footer-height;
  }

  .footer__logo {
    width: 52px;
    height: 52px;
  }

  .footer__address {
    @include display-flex();
    @include flex-direction(column);
    @include flex-align(flex-start);
    @include font-size(16px);
    
    font-weight: $font-weight-normal;
    line-height: 1.69;
    font-style: normal;
    
    margin-left: 20px;
    @media only screen and (min-width: $screen-width-m) {
      margin-left: 27px;
    }

    .footer__address-name {
      font-weight: 600;
    }
  }

  .footer__pages {
    display: none;
    @include flex-direction(column);
    @include flex-align(flex-start);
    @include font-size(16px);

    font-weight: $font-weight-normal;
    line-height: 1.69;
    font-style: normal;
    font-family: $font-nav;
    margin-left: 57px;

    @media only screen and (min-width: $screen-width-s) {
      @include display-flex();
    }
  }

  .footer__linkedin-link {
    position: absolute;
    right: 50px;
    bottom: 88px;

    .fa-linkedin {
      @include transition(color 100ms ease-in-out);
      margin-left: 15px;
      @include font-size(24px);
    }

    &:hover {
      .fa-linkedin {
        color: $color-linkedin-blue;
      }
    }

    @media only screen and (max-width: $screen-width-s - 1) {
      bottom: 36px;
    }
  }

  .footer__copyright {
    color: $color-light-gray;
    position: absolute;
    right: 50px;
    bottom: 36px;

    @media only screen and (max-width: $screen-width-s - 1) {
      right: 110px;
      max-width: calc(100% - 160px);
    }
  }
}