@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

html {
  box-sizing: border-box;
  font-family: $font-general;
  font-weight: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  outline: none;
  color: $color-light-gray;

  &:link,
  &:visited {
  }

  &:active,
  &:hover {
  }
}

body {
  position: relative;
  min-width: 100vw;
  min-height: calc(100vh - #{$footer-height-mobile});
  @include grid-media($medium-grid) {
    min-height: calc(100vh - #{$footer-height});
  }
}
