@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,600');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,600');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600');

html {
  box-sizing: border-box;
  font-family: $font-general;
  font-weight: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  outline: none;
  color: $color-dark-gray;

  @include transition(color 100ms ease-in-out);

  &:active,
  &:hover {
    color: $color-light-gray;
  }
}

body {
  position: relative;
  min-width: 100vw;
  min-height: calc(100vh - #{$footer-height-mobile});
  @include grid-media($medium-grid) {
    min-height: calc(100vh - #{$footer-height});
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-title;
}
