main.job-post {
  max-width: 97.5vw;
  width: 97.5vw;
  padding-bottom: 100px;

  .job-post__title {
    margin-top: 0;
  }

  .job-post__flex-container {
    @include display-flex();
    @include flex-justify(center);
    max-width: 90%;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 50px;
  }  

  .job-post {
    max-width: 584px;
    width: 100%;
    position: relative;
    @include display-flex();
    @include flex-justify(center);
  }

  .job-post__text {
  }

  .job-post__date {
    width: 100%;
    color: $color-gray-blue;
    @include font-size(14px);
  }

  .job-post__back-button {
    @include font-size(14px);
    @include display-flex();
    @include flex-align(center);
    color: $color-arctic-blue;
    cursor: pointer;

    position: absolute;
    top: 0;
    left: -150px;
    margin-top: 7px;

    i {
      margin-right: 12px;
    }

    &:hover {
      color: $color-blue;
    }

    @media only screen and (max-width: $screen-width-desktop-min - 1) {
      left: 0;
      top: -60px;
    }
  }

  @media only screen and (max-width: $screen-width-desktop-min - 1) {
    padding-bottom: 50px;
    .job-post__flex-container {
      margin-top: 60px;
    }

    .job-post {
      max-width: 500px;
    }

    .job-post__title {
      text-align: center;
    }

    .job-post__date {
      text-align: center;
    }
  }

  @media only screen and (max-width: $screen-width-tablet-min - 1) {
    .job-post {
      max-width: 331px;
    }
  }

  .news__wrapper {
    margin-top: 75px;
  }
}
