.navigation {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  user-select: none;
  width: 100%;
  min-height: 52px;
  z-index: 200;
  @include display-flex();
  @include flex-justify(center);
  @include flex-align(center);

  border-bottom: 1px solid $color-border-gray;

  @media only screen and (min-width: $screen-width-desktop-nav-min) {
    min-height: 80px;
    padding: 14px 30px;
  }
}

.navigation__pages {
  display: none;

  @media only screen and (min-width: $screen-width-desktop-nav-min) {
    position: relative;
    font-family: $font-general;
    @include display-flex();
    @include flex-justify(flex-start);
    @include font-size(18px);
    margin-right: 5px;

    .navigation__page {
      @include display-flex();
      @include flex-justify(center);
      @include flex-align(center);
      @include flex(1 0 auto);

      padding: 0 10px;
      border-radius: 25px;
      margin-left: 5px;
      max-width: 150px;
      min-width: 80px;
      min-height: 40px;
      text-align: center;
      background: white;
      color: $color-light-gray;


      @include transition(background 100ms ease-in-out, color 100ms ease-in-out);

      &.current {
        font-weight: $font-weight-bold;
        color: $color-dark-gray;
        background: $color-blue;
        &:hover {
          color: $color-dark-gray;
          background: $color-blue;
        }
      }

      &:hover {
        color: $color-dark-gray;
        background: $color-light-blue;
        cursor: pointer;
      }
    }
    width: 50%;
    margin-top: 0;
    @include flex-justify(center);
  }
}

.navigation__home-link {
  position: absolute;
  min-width: 160px;
  z-index: 10;
  top: 5px;
  left: 10px;
  left: 50%;
  @include transform(translateX(-50%));

  @media only screen and (min-width: $screen-width-desktop-nav-min) {
    @include transform(translateX(0));
    min-width: 198px;
    left: 30px;
    top: 14px;
  }
  @media only screen and (max-width: 550px) {
    left: 40%;
  }
}

.navigation__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  @include display-flex();
  @include flex-justify(flex-start);

  @media only screen and (min-width: $screen-width-desktop-nav-min) {
    @include flex-justify(center);
  }

  #navigation-burger {
    @media only screen and (min-width: $screen-width-desktop-nav-min) {
      display: none;
    }

    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 14px;
    cursor: pointer;
    
    span {
      position: absolute;
      top: 5px;
      left: 3px;
      width: 18px;
      height: 2px;
      background-color: $color-burger-blue;
      border-radius: 1px;

      @include transition(background-color 100ms ease-in-out);

      &:nth-child(2) {
        top: 11px;
      }
      &:nth-child(3) {
        top: 17px;
      }
    }

    &:hover {
      span {
        background-color: mix($color-burger-blue, white, 40);
      }
    }
  }

  &.menu-closed {
    #navigation-burger {
      span {
        &:nth-child(1) {
          @include animation(menuCloseFirstLine .3s ease-in-out);
          top: 5px;
          left: 3px;
          width: 18px;
          @include transform(rotate(0));
        }
        &:nth-child(2) {
          @include animation(menuCloseMidLine .3s ease-in-out);
          opacity: 1;
        }
        &:nth-child(3) {
          top: 17px;
          left: 3px;
          width: 18px;
          @include transform(rotate(0));
          @include animation(menuCloseLastLine .3s ease-in-out);
        }
      }
    }
  }

  &.menu-open {
    @media only screen and (max-width: $screen-width-desktop-nav-min - 1) {
      #navigation-burger {
        span {
          &:nth-child(1) {
            @include animation(menuOpenFirstLine .3s ease-in-out);
            top: 11px;
            left: 0;
            width: 25px;
            @include transform(rotate(45deg));
          }
          &:nth-child(2) {
            @include animation(menuOpenMidLine .3s ease-in-out);
            opacity: 0;
          }
          &:nth-child(3) {
            top: 11px;
            left: 0;
            width: 25px;
            @include transform(rotate(135deg));
            @include animation(menuOpenLastLine .3s ease-in-out);
          }
        }
      }

      .navigation__pages {
        @include display-flex();
        @include flex-direction(column);
        @include font-size(18px);

        z-index: 105;
        position: absolute;
        top: calc(100% + 25px);
        margin-left: 14px;
        background-color: white;
        box-shadow: 0 3px 6px 0 rgba($color-dark-gray, 0.4);
        border: solid 1px white;
        border-radius: 10px;
        min-width: 230px;

        .navigation__page {
          padding: 15px 0 15px 25px;
          position: relative;
          color: $color-burger-blue;

          &:hover {
            color: mix($color-burger-blue, white, 40);
          }

          &:not(:last-child):after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid $color-border-gray;
          }

          &.current {
            font-weight: bold;
          }
        }

        @include animation(menuOpen .3s ease-in-out)
      }
    }
  }
}


.summary__pages {
  @include display-flex();
  @include flex-align(center);

  >.navigation__page {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 100px;
    background-color: white;

    &.current {
      font-weight: $font-weight-bold;
      color: $color-dark-gray;
      background: $color-blue;
      &:hover {
        color: $color-dark-gray;
        background: $color-blue;
      }
    }

    &:hover {
      color: $color-dark-gray;
      background: $color-light-blue;
      cursor: pointer;
    }
  }
}

.summary__pages-dropdown {
  display: none;
  &.menu-open {
    @include display-flex();
  }
  @include flex-direction(column);
  @include font-size(18px);

  z-index: 105;
  position: absolute;
  top: calc(100% + 25px);
  @include transform(translateX(calc(-100% - 20px)));
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba($color-dark-gray, 0.4);
  border: solid 1px white;
  border-radius: 10px;
  min-width: 230px;

  .navigation__page {
    padding: 15px 0 15px 25px;
    position: relative;
    color: $color-burger-blue;

    &:hover {
      color: mix($color-burger-blue, white, 40);
    }

    &:not(:last-child):after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid $color-border-gray;
    }
  }

  @include animation(menuOpen .3s ease-in-out)
}

/*** KEYFRAMES ***/

@include keyframes(menuOpenFirstLine) {
  0% {
    top: 5px;
    left: 3px;
    width: 18px;
    @include transform(rotate(0));
  }
  50% {
    top: 11px;
    left: 3px;
    width: 18px;
    @include transform(rotate(0));
  }
  100% {
    top: 11px;
    left: 0;
    width: 25px;
    @include transform(rotate(45deg));
  }
}

@include keyframes(menuOpenMidLine) {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(menuOpenLastLine) {
  0% {
    top: 17px;
    left: 3px;
    width: 18px;
    @include transform(rotate(0));
  }
  50% {
    top: 11px;
    left: 3px;
    width: 18px;
    @include transform(rotate(0));
  }
  100% {
    top: 11px;
    left: 0;
    width: 25px;
    @include transform(rotate(135deg));
  }
}

@include keyframes(menuCloseFirstLine) {
  0% {
    top: 11px;
    left: 0;
    width: 25px;
    @include transform(rotate(45deg));
  }
  50% {
    top: 11px;
    left: 3px;
    width: 18px;
    @include transform(rotate(0));
  }
  100% {
    top: 5px;
    left: 3px;
    width: 18px;
    @include transform(rotate(0));
  }
}

@include keyframes(menuCloseMidLine) {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(menuCloseLastLine) {
  0% {
    top: 11px;
    left: 0;
    width: 25px;
    @include transform(rotate(135deg));
  }
  50% {
    top: 11px;
    left: 3px;
    width: 18px;
    @include transform(rotate(0));
  }
  100% {
    top: 17px;
    left: 3px;
    width: 18px;
    @include transform(rotate(0));
  }
}

@include keyframes(menuOpen) {
  0% {
    top: 50%;
    opacity: 0;
  }
  100% {
    top: calc(100% + 25px);
    opacity: 1;
  }
}
