$section-max-width: 1195px;
$section-max-width-tablet: 780px;

main.news-page {
  max-width: 97.5vw;
  min-width: 97.5vw;

  .news__header {
    max-width: 1192px;
    margin-top: 80px;
    margin-bottom: 45px;
    width: 100%;
    @include display-flex();
    @include flex-justify(space-between);
    position: relative;
  
    .news__header-text {
      @include display-flex();
      @include flex-direction(column);
      max-width: 379px;
  
      p {
        color: $color-gray-blue;
      }
    }
  
    .news__header-image {
      max-width: 641px;
      width: 100%;
  
      &.image-mobile {
        display: none;
      }
    }
  
    @media only screen and (max-width: $screen-width-desktop-min - 1) {
      max-width: 780px;
      margin-top: 32px;
      width: 95%;
  
      .news__header-image {
        max-width: 331px;
        &.image-mobile {
          display: block;
        }
        &.image-desktop {
          display: none;
        }
      }
  
      h1, p {
        max-width: 331px;
      }
  
      .news__header-text {
        @include flex-direction(column);
        @include flex-align(center);
        @include flex-justify(space-between);
      }
    }
  
    @media only screen and (max-width: $screen-width-tablet-min - 1) {
      max-width: 331px;
      @include flex-direction(column-reverse);
      @include flex-align(center);
      .news__header-text {
        text-align: center;
      }
  
      .news__header-image {
        max-width: 240px;
      }
    }
  }
}


.news-page__loadmore-wrapper {
  width: 100%;
  @include display-flex();
  @include flex-justify(center);
}

.news-page__loadmore {
  @include font-size(14px);
  @include display-flex();
  @include flex-align(center);
  color: $color-arctic-blue;
  cursor: pointer;
  max-height: 30px;
  margin-top: -60px;
  margin-left: -40px;

  i {
    margin-left: 15px;
  }

  &:hover {
    color: $color-blue;
  }
}