/* News section */

$section-width: 80%;
.news__wrapper {
  width: 100%;
  @include display-flex();
  @include flex-direction(column);
  @include flex-align(center);
  padding-bottom: 120px;

  .news__title-row {
    width: $section-width;
    @include display-flex();
    @include flex-justify(space-between);
    @include flex-align(center);
    line-height: 1;
    margin-bottom: 40px;
  }
  .news__title {
    font-family: $font-title;
    @include display-flex();
    @include flex-align(center);
    color: $color-dark-blue;
    margin-bottom: 0;

    i {
      color: $color-arctic-blue;
      margin-right: 10px;
      @include font-size(25px);
    }
  }
  .news__discover-more {
    margin-bottom: 0;
    @include font-size(14px);
    @include display-flex();
    @include flex-align(center);
    color: $color-arctic-blue;

    i {
      color: $color-arctic-blue;
      margin-left: 12px;
      @include font-size(32px);
    }
  }

  .news__flex-container {
    width: $section-width;
    @include display-flex();
    @include flex-justify(flex-start);
    @include flex-wrap(wrap);
    max-height: 390px;
    overflow: hidden;
  }
}

/* One news article */

.news_article__card {
  @include flex(0 1 auto);
  cursor: pointer;
  background-color: $color-light-blue;
  min-width: 370px;
  width: 370px;
  min-height: 390px;
  max-height: 390px;
  border-radius: 10px;
  overflow: hidden;

  &:not(:first-child) {
    margin-left: 40px;
  }


  .news_article__card-content {
    padding: 30px 35px;
  }

  .news_article__card-date {
    @include font-size(14px);
    color: mix($color-dark-blue, $color-light-blue, 40);
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .news_article__card-title {
    line-height: 1.25;
    color: $color-dark-blue;
  }

  .news_article__card-writer {
    color: mix($color-dark-blue, $color-light-blue, 60);
    font-weight: $font-weight-bold;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    @include font-size(14px);
  }

  @media only screen and (max-width: $screen-width-xxl - 1) {
    &:nth-child(n+4) {
      display: none;
    }
  }
  @media only screen and (max-width: $screen-width-l - 1) {
    &:nth-child(n+3) {
      display: none;
    }
  }
  @media only screen and (max-width: $screen-width-m - 1) {
    &:nth-child(n+2) {
      display: none;
    }
  }
}
