/* News section */

$section-width: 80%;
$section-width-mobile: 90%;
.news__wrapper {
  width: 100%;
  @include display-flex();
  @include flex-direction(column);
  @include flex-align(center);
  padding-bottom: 120px;
  max-width: 97.5vw;

  .news__title-row {
    width: $section-width;
    @include display-flex();
    @include flex-justify(space-between);
    @include flex-align(center);
    line-height: 1;
    margin-bottom: 40px;
  }
  .news__title {
    font-family: $font-condensed;
    @include display-flex();
    @include flex-align(center);
    color: $color-dark-blue;
    margin-bottom: 0;

    i {
      color: $color-arctic-blue;
      margin-right: 10px;
      @include font-size(25px);
    }
  }
  .news__discover-more {
    margin-bottom: 0;
    @include font-size(14px);
    @include display-flex();
    @include flex-align(center);
    color: $color-arctic-blue;

    i {
      color: $color-arctic-blue;
      margin-left: 12px;
      @include font-size(32px);
    }

    &:hover {
      color: $color-blue;
      @include transition(color 100ms ease-in-out);
      i {
        color: $color-blue;
        @include transition(color 100ms ease-in-out);
      }
    }
  }

  .news__flex-container {
    width: $section-width;
    @include display-flex();
    @include flex-justify(flex-start);
    @include flex-wrap(wrap);
    max-height: 370px;
    overflow: hidden;
  }

  @media only screen and (max-width: $screen-width-l - 1) {
    .news__flex-container {
      width: $section-width-mobile;
      @include flex-justify(flex-start);
    }
    .news__title-row {
      width: $section-width-mobile;
      @include flex-justify(space-between);
    }
  }
}

/* One news article */

.news_article__card {
  @include flex(0 1 auto);
  cursor: pointer;
  width: 370px;
  min-height: 370px;
  max-height: 370px;
  max-width: 90vw;
  overflow: hidden;

  @include transition(background-color 100ms ease-in-out);

  &:not(:first-child) {
    margin-left: 40px;
  }

  .news_article__card-date {
    @include font-size(14px);
    color: mix($color-dark-blue, $color-light-blue, 40);
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid $color-border-blue;
    }
  }

  .news_article__category {
    color: mix($color-dark-blue, $color-light-blue, 60);
  }

  .news_article__card-title {
    line-height: 1.44;
    color: $color-dark-blue;
    @include font-size(18px);
    @include transition(color 100ms ease-in-out);
  }

  .news_article__card-description {
    @include transition(color 100ms ease-in-out);
    max-height: 154px;
    line-height: 1.63;
    overflow: hidden;
  }

  @media only screen and (max-width: $screen-width-xxl - 1) {
    &:nth-child(n+4) {
      display: none;
    }
  }
  @media only screen and (max-width: $screen-width-l - 1) {
    &:nth-child(n+3) {
      display: none;
    }
  }
  @media only screen and (max-width: $screen-width-m - 1) {
    &:nth-child(n+2) {
      display: none;
    }
  }

  &:hover {
    .news_article__card-title {
      color: $color-gray-blue;
    }
  }
}
