/* Posts section */

$row-height: 370px + 40px;
$section-width: 80%;
$section-width-mobile: 95%;
$section-max-width: 1195px;
.posts__wrapper {
  width: 100%;
  @include display-flex();
  @include flex-direction(column);
  @include flex-align(center);
  padding-bottom: 100px;
  max-width: 97.5vw;

  .posts__title-row {
    max-width: $section-max-width;
    width: $section-width;
    @include display-flex();
    @include flex-justify(space-between);
    @include flex-align(flex-end);
    line-height: 1;
    margin-bottom: 40px;
  }
  .posts__title {
    @include display-flex();
    @include flex-align(center);
    color: $color-dark-blue;
    margin-bottom: 0;

    i {
      color: $color-arctic-blue;
      margin-right: 10px;
      @include font-size(25px);
    }
  }
  .posts__discover-more {
    margin-bottom: 0;
    @include display-flex();
    @include flex-align(center);
    color: $color-arctic-blue;
    i {
      color: $color-arctic-blue;
      margin-left: 12px;
      @include font-size(32px);
    }

    &:hover {
      color: $color-blue;
      @include transition(color 100ms ease-in-out);
      i {
        color: $color-blue;
        @include transition(color 100ms ease-in-out);
      }
    }
  }
  
  a.show-on-mobile {
    display: none;
  }

  @media only screen and (max-width: $screen-width-m - 1) {
    a.hide-on-mobile {
      display: none;
    }
    a.show-on-mobile {
      display: block;
      margin-right: 40px;
    }
  }

  .posts__flex-container {
    max-width: $section-max-width;
    width: $section-width;
    @include display-flex();
    @include flex-justify(flex-start);
    @include flex-wrap(wrap);
    max-height: 390px;
    overflow: hidden;
  }

  @media only screen and (max-width: $screen-width-l - 1) {
    .posts__flex-container {
      width: $section-width-mobile;
      @include flex-justify(center);
    }
    .posts__title-row {
      width: $section-width-mobile;
      @include flex-justify(space-between);
    }
  }

  @media only screen and (max-width: $screen-width-m - 1) {
    .posts__flex-container {
      max-height: 780px;
      width: 410px;
      max-width: $section-width-mobile;
    }
    .posts__title-row {
      width: 410px;
      max-width: $section-width-mobile;
    }
  }

  @media only screen and (max-width: $screen-width-s - 1) {
    .posts__title-row {
      width: 370px;
    }
    a.show-on-mobile {
      margin-right: 0;
    }
  }
}

/* One post */

.post__card {
  @include flex(0 1 auto);
  @include transition(background-color 100ms ease-in-out);
  cursor: pointer;
  background-color: $color-light-blue;
  width: 370px;
  max-width: 90vw;
  min-height: 370px;
  max-height: 370px;
  margin-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;

  &:not(:first-child) {
    margin-left: 40px;
  }

  .post__card-image {
    min-height: 180px;
    @include display-flex();
    @include flex-justify(center);
    background-color: $color-blue;

    img {
      min-height: 100%;
      min-width: 100%;
      width: auto;
    }
  }

  .post__card-content {
    padding: 30px 35px;
  }

  .post__card-date {
    color: mix($color-dark-blue, $color-light-blue, 40);
    margin-top: 0;
    margin-bottom: 15px;
  }

  .post__card-title {
    color: $color-dark-blue;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .post__card-writers {
    margin: 0;
    line-height: 1;
    .post__writer.caption {
      color: mix($color-dark-blue, $color-light-blue, 60);
      line-height: 1;
      font-weight: $font-weight-bold;
      font-family: $font-condensed;
      letter-spacing: 1px;
      @include font-size(14px);
    }
  }

  &:hover {
    background-color: white;
  }


  @media only screen and (max-width: $screen-width-m - 1) {
    margin-bottom: 40px;
    &:not(:first-child) {
      margin-left: 0;
    }

    @media only screen and (min-width: $screen-width-s) {
      margin-right: 40px;
    }
  }

  &.post__filter-hide {
    display: none;
  }
}

/* Multirow posts */
.posts__flex-container.multirow {
  max-height: 4*$row-height;
  width: 95%;
  max-width: $section-max-width + 40px;
  .post__card {
    margin-left: 0;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  @media only screen and (max-width: $screen-width-m - 1) {
    width: 370px;
    max-width: 95%;
    .post__card {
      margin-right: 0;
    }
  }

  @include transition(max-height 500ms ease-in-out);
}
