#main-content.product-page {
  width: 100vw;
}

.product__header-nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  .product__header-link {
    display: block;
    position: absolute;
    top: 50%;
    @include transform(translateY(50%));
    z-index: 10;
    cursor: pointer;
    @include display-flex();
    @include flex-align(center);
    color: white;
    @include transition(color 100ms ease-in-out);
    @include font-size(14px);

    &:hover {
      color: rgba(255,255,255,0.6);
    }

    &.left {
      left: 40px;
    }
    &.right {
      right: 40px;
      
      img {
        @include transform(rotate(180deg));
      }
    }
  }

  .product__nav-items {
    min-height: 60px;
    width: 100%;
    @include display-flex();
    @include flex-justify(center);
    @include flex-align(center);
    position: absolute;
    top: 0;

    .product__nav-item {
      @include font-size(16px);
      color: rgba(255,255,255,0.4);
      position: relative;
      padding: 5px 20px;
      @include transition(color 100ms ease-in-out);

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid rgba($color-arctic-blue, 0);
        @include transition(border-color 100ms ease-in-out);
      }

      &.current, &:hover {
        color: white;
        &:after {
          border-color: $color-arctic-blue;
        }
      }
    }

    @media only screen and (max-width: $screen-width-desktop-min - 1) {
      &.hide-on-mobile {
        display: none;
      }
    }
  }
}

.product__header-wrapper {
  position: relative;
  width: 100%;

  .product__header {
    padding-top: 130px;
    width: 100%;
    @include display-flex();
    @include flex-justify(center);

    h1, h2, h3 {
      color: white;
    }

    p {
      color: rgba(255,255,255,0.6);
    }
  }

  .product-icon {
    width: 48px;
  }

  .product-image {
    @include animation(appear 500ms ease-out);
    max-width: 811px;
    img {
      max-width: 100%;
    }
  }

  .product__header-content {
    @include animation(appear 500ms ease-out);
    max-width: 368px;
    @include display-flex();
    @include flex-justify(center);
    @include flex-direction(column);
    @include flex-align(flex-start);

    h1 {
      margin-bottom: 0;
      margin-top: 10px;
    }
  }

  .product-video-button {
    padding: 10px 20px;
    border-radius: 35px;
    color: white;
    margin-top: 8px;
    background-color: $color-seafoam-blue;
    @include font-size(16px);
    line-height: 20px;
    @include transition(background-color 100ms ease-in-out);

    &:hover {
      background-color: $color-green;
    }
  }


  .product__info {
    position: relative;
    padding-top: 200px;
    @include display-flex();
    @include flex-direction(column);
    @include flex-align(center);

    p {
      color: rgba(255,255,255,0.6);
    }
    h1, h2, h3 {
      color: white;
    }
  }

  .product__info-section {
    @include animation(appear 500ms ease-out);
    max-width: 1192px;
    width: 100%;
    @include display-flex();
    @include flex-justify(space-around);
    @include flex-align(center);
    margin-bottom: 200px;

    &:nth-child(even) {
      @include flex-direction(row-reverse);
    }

    .product__info-text {
      max-width: 444px;
    }

    .product__info-image {
      width: 100%;
      max-width: 444px;
      @include display-flex();
      @include flex-justify(center);
    }
  }
}
.mobile-slider-arrow {
  display: none;
}

@media only screen and (max-width: $screen-width-desktop-min - 1) {
  .product__header-nav {
    .product__header-link {
      &.left {
        left: 30px;
      }
      &.right {
        right: 30px;
      }
    }
  }

  .product__header-wrapper {
    .product__header {
      padding-top: 60px;
      @include flex-direction(column);
      @include flex-justify(flex-start);
      @include flex-align(center);
    }

    .product__header-content {
      @include flex-align(center);
      margin-bottom: 40px;
      text-align: center;
    }

    .product-image {
      max-width: 543px;
    }
  }

  .product__info.mobile-slider {
    padding-top: 0;
    min-height: 800px;
    @include display-flex();
    @include flex-justify(center);
    
    >.product__info-section:not(.mobile-slider-visible) {
      display: none;
    }

    .product__info-section.mobile-slider-visible {
      margin-bottom: 0;
      @include flex-direction(column);
      max-width: 544px;
      @include animation(appearInPlace 1000ms ease-in-out);
    }

    .product__info-text {
      max-width: 370px;
      text-align: center;
    }

    .product__info-image {
      margin-bottom: 40px;
      @include display-flex();
      @include flex-justify(center);
    }

    .mobile-slider-arrow {
      display: block;
      position: absolute;
      top: 50%;
      @include transform(translateY(50%));
      z-index: 10;
      cursor: pointer;

      &.left {
        left: calc(50% - 272px);
      }
      &.right {
        right: calc(50% - 272px);
        
        img {
          @include transform(rotate(180deg));
        }
      }
    }
  }
}

@media only screen and (max-width: $screen-width-tablet-min - 1) {
  .product__header-nav {
    .product__header-link {
      &.left {
        left: 15px;
      }
      &.right {
        right: 15px;
      }
    }
  }

  .product__header-wrapper {
    .product__header-content {
      max-width: 331px;
    }

    .product-image {
      max-width: 331px;
    }
  }

  .product__info.mobile-slider {
    .product__info-section.mobile-slider-visible {
      max-width: 331px;

      .product__info-image img {
        max-width: 331px;
      }
    }
    .product__info-text {
      max-width: 255px;
    }

    .mobile-slider-arrow {
      &.left {
        left: calc(50% - 170px);
      }
      &.right {
        right: calc(50% - 170px);
      }
    }
  }
}

@include keyframes(appear) {
  0% {
    opacity: 0;
    @include transform(translateY(20%));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(appearInPlace) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
