$font-general: 'IBM Plex Sans Condensed', sans-serif;
$font-title: 'IBM Plex Sans Condensed', sans-serif;
$font-serif: 'IBM Plex Serif', serif;
$font-nav: 'IBM Plex Sans', sans-serif;

$color-dark-blue: rgb(40, 40, 80);
$color-arctic-blue: rgb(0, 200, 255);
$color-burger-blue: $color-dark-blue;
$color-blue: mix($color-arctic-blue, white, 40);
$color-light-blue: mix($color-arctic-blue, white, 10);
$color-linkedin-blue: #0073a4;

$color-dark-gray: rgb(34, 34, 34);
$color-light-gray: mix($color-dark-gray, white, 40);
$color-gray: mix($color-dark-gray, white, 60);
$color-border-gray: mix(rgb(216, 216, 216), white, 60);

$footer-height: 180px;
$footer-height-mobile: 260px;

$screen-width-xxl: 1560px;
$screen-width-xl: 1280px;
$screen-width-l: 1024px;
$screen-width-m: 768px;
$screen-width-s: 576px;

$font-weight-bold: 600;
$font-weight-normal: normal;