$font-nav: 'IBM Plex Sans Condensed', sans-serif;
$font-title: 'IBM Plex Serif', serif;
$font-general: 'IBM Plex Sans', sans-serif;

$color-dark-blue: rgb(0, 200, 255);
$color-blue: rgba($color-dark-blue, 0.4);
$color-light-blue: rgba($color-dark-blue, 0.1);

$color-dark-gray: rgb(34, 34, 34);
$color-light-gray: rgba($color-dark-gray, .4);
$color-gray: rgba($color-dark-gray, .6);

$color-border-gray: rgba(216, 216, 216, 0.6);

$footer-height: 143px;
$footer-height-mobile: 190px;