---
layout: news
news_filter: true
navigation:
  show_in_navigation: false
title:
description:
meta_title:
meta_description:
og_image_path: '/images/site/logo_text2_blue.svg'
twitter_image_path:
og_title:
og_description:
---
<div class="news-header">
  <div class="news-page__title">
    <h1 class="editable">All news</h1>
  </div>
  <div class="news-filter">
    <span class="uppercase news-filter__label caption-light">Filter:</span>
    <div class="news-filter__buttons">
    {% for category in site.news_category %}
      <span data-category="{{category}}" class="uppercase news-filter__button caption-light">
      {% if category == 'press_release' %}
      press release
      {% else %}
      news
      {% endif %}
      </span>
    {% endfor %}
    </div>
  </div>
</div>
{% include news.html hide_discover_more=true show_all=true limit=1000 %}
