---
card_title: Solutions for managed security service providers
card_image_path: /images/content/2.svg
solution_users:
  - Managed Security Service Providers (MSSP)
card_order: '3'
layout: solution
name: Solutions for managed security service providers
description: Solution description
products_title: Recommended product for MSSPs
related_products:
  products:
    - hub
contact_form: true
contact_form_title: Need help with Solutions for MSSPs?
contact_form_description: >-
  Fill in the below form for talk with our solutions specialist. You can also
  mail us at contact@arcticsecurity.com or call us at +358 20 743 0010
contact_form_thankyou_title: Sent.
contact_form_thankyou_description: Thank you for contacting us.
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
_comments:
  card_title: Title shown in solutions main page.
  card_image_path: Image shown in solutions main page.
  solution_users: List shown in solutions main page.
  card_order: Order of the card in solutions main page.
---

<div class="solution__flex-container">
  <article class="solution">
    <div class="solution__text editable">
      <div class="solution__header">
        <h1>Title</h1>
        <h3>Solutions for managed security service providers</h3>
        <div class="solution__content-summary">
          <h2>Content Summary</h2>
          <ul>
            <li>Learn about the concept of cyber resiliency<img alt="check" src="/images/site/check.svg" /></li>
            <li>Learn how to increase cyber resiliency<img alt="check" src="/images/site/check.svg" /></li>
            <li>Learn about automated threat intelligence<img alt="check" src="/images/site/check.svg" /></li>
          </ul>
        </div>
      </div>
      <p>We have a unique opportunity for a person with a vision to help us build our next generation products for national cyber security. You will take the UI/UX Lead role in a team of a few engineers, working together with the substance experts to find out ways to make our technology usable and visual in the best possible way. You must be a hands-on team player with strong emphasis on usability and end-user experience. We do not expect you to have prior knowledge of cyber security.</p>
      <p>We do not offer an easy way out - our use cases are complex, and you must be able to understand the viewpoints of different stakeholders and make decisions based on them. We have a lot of data to visualize, but our solutions need to be practical for everyday operations in a demanding customer base consisting of national cyber security centers, defense, and critical infrastructure enterprises. Our user interfaces are browser-based and designed by using JS/React.</p>
    </div>
    <a class="solution__back-button" href="/solutions"><i class="icon-arrow_left"></i>See all solutions</a>
  </article>
</div>
{% capture includeproducts %}{% for product in page.related_products.products %}{{ product }},{% endfor %}{% endcapture %}
{% include products-list.html products=includeproducts class="solutions__products" title=page.products_title %}
{% include contact-form.html class="solutions__contact-form" form_title=page.contact_form_title form_description=page.contact_form_description thankyou_title=page.contact_form_thankyou_title thankyou_description=page.contact_form_thankyou_description schedule_a_demo=page.name %}
