<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include navbar.html %}
	<main id="main-content" class="blog appear-animation">
    <div class="blog__flex-container">
      <aside class="blog__contact">
        <a href="{% if page.back_link %}{{page.back_link}}{% else %}/guides{% endif %}" class="blog__articles-link"><i class="icon-arrow_left"></i> All articles</a>
        {% for writer in page.writer.employees %}
          {% for employee in site.employees %}
            {% if employee.path contains writer %}
              <div class="blog__contact-writer">
                <img class="blog__contact-image" src="{{employee.person_image_path}}" alt="{{employee.first_name}} {{employee.last_name}}" />
                <div class="blog__contact-name">{{ employee.first_name }} {{ employee.last_name }}</div>
                <div class="blog__contact-title uppercase">{{ employee.position }}</div>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
        <div class="blog__share-title uppercase hide-on-mobile">SHARE THIS POST</div>
        <div class="blog__share-social-medias hide-on-mobile">
          {% assign shareUrl = page.url | prepend: site.url %}
          <a href="https://www.facebook.com/sharer.php?u={{ shareUrl }}"
            class="blog__share-li"
            target="_blank"
            rel="noopener noreferrer">
            <i class="icon-social_facebook_filled"></i>
          </a>
          <a href="https://twitter.com/share?url={{ shareUrl }}&amp;via=arcticsecurityoy"
            class="blog__share-tw"
            target="_blank"
            rel="noopener noreferrer">
            <i class="icon-social_twitter_filled"></i>
          </a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ shareUrl }}"
            class="blog__share-fb"
            target="_blank"
            rel="noopener noreferrer">
            <i class="icon-social_linkedin_filled"></i>
          </a>
        </div>
      </aside>
      <article class="blog__article">
        <div class="blog__article-meta">
          <span class="uppercase">
            {% if page.blog_category %}
            <span class="blog__article-category">{{ page.blog_category }}</span>
            {% endif %}
            {% unless page.blog_category %}<span style="padding-left: 30px;">{{ page.date | date: "%B" }} &nbsp;</span></span>{% assign day = page.date | date: "%-d" %}{% case day %}{% when '1' or '21' or '31' %}{{ day }}st{% when '2' or '22' %}{{ day }}nd{% when '3' or '23' %}{{ day }}rd{% else %}{{ day }}th{% endcase %}, {{ page.date | date: "%Y" }}{% endunless %}
        </div>
        <div class="blog__article-text editable">
          <h1 class="blog__article-title">{{page.blog_title}}</h1>
          {{ content }}
          {% if page.downloadable_content %}
            {% include contact-form.html form_title=page.form_title form_description=page.form_description_markdown thankyou_title=page.form_thankyou_title thankyou_description=page.form_thankyou_description downloadable_content=page.downloadable_content_name %}
          {% endif %}
        </div>
        <div class="blog__share-mobile">
          <div class="blog__share-title uppercase show-on-mobile">SHARE THIS POST</div>
          <div class="blog__share-social-medias show-on-mobile">
            {% assign shareUrl = page.url | prepend: site.url %}
            <a href="https://www.facebook.com/sharer.php?u={{ shareUrl }}"
              class="blog__share-li"
              target="_blank"
              rel="noopener noreferrer">
              <i class="icon-social_linkedin_filled"></i>
            </a>
            <a href="https://twitter.com/share?url={{ shareUrl }}&amp;via=arcticsecurityoy"
              class="blog__share-tw"
              target="_blank"
              rel="noopener noreferrer">
              <i class="icon-social_twitter_filled"></i>
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ shareUrl }}"
              class="blog__share-fb"
              target="_blank"
              rel="noopener noreferrer">
              <i class="icon-social_facebook_filled"></i>
            </a>
          </div>
        </div>
      </article>
    </div>
    {% if page.type == 'event' %}
    {% include events-posts.html title="Related" limit=3 %}
    {% else %}
    {% include posts.html title="Related" limit=3 no_blog_link=true filter_category=page.blog_category %}
    {% endif %}
    {% include mailing-list-form.html %}
	</main>
	{% include footer.html %}
	{% include scripts.html %}
</body>
</html>
