<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include navbar.html %}
	<main id="main-content" class="blog">
    <div class="blog__flex-container">
      <aside class="blog__contact">
        <a href="/blog" class="blog__articles-link"><i class="arcsec-circle_remove"></i> All articles</a>
        {% for writer in page.writer.employees %}
          {% for employee in site.employees %}
            {% if employee.path contains writer %}
              <div class="blog__contact-writer">
                {{ employee.first_name }} {{ employee.last_name }}
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </aside>
      <article class="blog__article editable">
      {{ content }}
      </article>
      <div class="blog__flex-spacing"></div>
    </div>
	</main>
	{% include footer.html %}
	{% include scripts.html %}
</body>
</html>
