<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include navbar.html %}
	<main id="main-content" class="job-post appear-animation">
    <div class="job-post__flex-container">
      <article class="job-post">
        <div class="job-post__text editable">
          <h1 class="job-post__title">{{page.job_title}}</h1>
          {{ content }}
        </div>
        <a class="job-post__back-button" href="/about"><i class="icon-arrow_left"></i>Back</a>
      </article>
    </div>
    {% include job-application-block.html %}
    {% include jobs-no-background.html limit=100 %}
	</main>
	{% include footer.html %}
	{% include scripts.html %}
</body>
</html>
