---
layout: default
navigation:
  show_in_navigation: true
  nav_title: CN
  nav_title_long: Chinese
title: Chinese summary on Arctic Security
description:
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
contact_form: true
form_thankyou_title:
form_thankyou_description:
form_translations:
  first_name: First name
  last_name: Last name
  company_name: Company name
  email: Email
  error_message: Please fill missing fields
contact_info_title: Contact Info
---

<div class="summary-content">
  <div class="summary-header__wrapper editable">
    <div class="summary-header">
      <h1>
        您并⾮非在⽹网络中孤军奋战。
      </h1>
      <p class="large">
        我们希望帮助您组织⽹网络防御。
      </p>
    </div>
    <img src="/images/content/hero.svg" alt="summary header" class="summary-header__image" />
  </div>
  <div class="summary__text large">
    <div class="summary__text-paragraph editable">
      <h2>
        <i class="icon-product" style="margin-right: 10px;"></i>我们的使命
      </h2>
      <p>
        我们的使命旨在帮助您组织⽹网络防御。我们希望政府和商业⽹网络安全中⼼心以及与公司和组织相关的其 他⽹网络⼯工作⼈人员可彼此共享关键威胁情报。
      </p>
    </div>
    <div class="summary__text-paragraph editable">
      <h2>
        <i class="icon-team" style="margin-right: 10px;"></i>我们的团队
      </h2>
      <p>
        我们的专属精诚团队由在⽹网络威胁情报⾏行行业具有丰富知识和⼯工作经验的国际专家组成。我们的组织<br />由⾸首席执⾏行行官 David Chartier 领军，他是⼀一位具有⻓长期经验的⽹网络安全专家，也是 Codenomicon<br />的前任⾸首席执⾏行行官。我们的总部位于芬兰奥卢。此外，我们还在旧⾦金金⼭山、新加坡和赫尔⾟辛基设有办<br />事处。我们的主要投资者是 <a target="_blank" href="http://www.capman.com/investment-strategies/growth-equity/portfolio/arctic/">CapMan</a>
      </p>
    </div>
    <div class="summary__text-paragraph editable">
      <h2>
        <i class="icon-product" style="margin-right: 10px;"></i>我们的产品
      </h2>
      <p>
        我们的产品(Arctic Hub 和 Arctic Node)可⾃自动化防御⼩小组内的威胁情报共享。
      </p>
    </div>
  </div>
  <div class="summary__text large">
  <div class="summary__text-paragraph editable">
    <p><img alt="expander content image" src="/images/content/5.svg" /></p>
    <h3>防御⼩小组中⼼心共享信息</h3>
    <p>在防御⼩小组中，设有收集和共享基本威胁信息的中⼼心。中⼼心通常是国家计算机应急响应团队或⽹网络 安全中⼼心。或者，在⼤大型组织和公司中，可选择总部或其他中央单位作为中⼼心并将信息传递给其他 单位。</p>
    <p>Arctic Hub 可⾃自动化从中央组织到其利利益相关者的威胁情报共享。</p>
  </div>
    <div class="summary__text-paragraph editable">
      <div>
        <p><img alt="expander content image" src="/images/content/6.svg" /></p>
        <h3>防御⼩组节点接收并使⽤信息</h3>
        <p>防御⼩小组中节点的作⽤用是从中⼼心收集关键⽹网络威胁信息并采取相应措施。例例如，关键基础设施供应商 可防御国家⽹网络安全中⼼心向其报告的⽹网络威胁。</p>
        <p>Arctic Node 收集威胁情报并将其进⼀一步集成到⽹网络安全⼯工具中，例例如⽹网络安全传感器器或安全信息 和事件管理理系统。</p>
      </div>
    </div>
  </div>
</div>

{% assign thankyou_title="Sent." %}
{% if page.thankyou_title %}
  {% assign thankyou_title=page.thankyou_title %}
{% endif %}

{% assign thankyou_description="Thank you for contacting us." %}
{% if page.thankyou_description %}
  {% assign thankyou_description=page.thankyou_description %}
{% endif %}

<div class="contact-form__wrapper {{include.class}}">
  <h2 class="editable">
    了了解更更多
  </h2>
  <p class="editable">
    <a href="/">使⽤用英语进⼀一步了了解我们的产品和公司。 &gt;&gt;</a>&nbsp;<br />或者通过填写以下表格联系我们，以提出问题或安排会⾯面。
  </p>
  <form id="contact-form" class="contact-form">
    <div class="contact-form__input">
      <input type="text" name="first_name" id="first_name" data-validate="true" data-validate-max-length="20" />
      <label for="first_name" id="first_name_label" class="caption-light editable">First name</label>
    </div>
    
    <div class="contact-form__input">
      <input type="text" name="last_name" id="last_name" data-validate="true" data-validate-max-length="20" />
      <label for="last_name" id="last_name_label" class="caption-light editable">Last name</label>
    </div>

    <div class="contact-form__input">
      <input type="text" name="company_name" id="company_name" data-validate="true" data-validate-max-length="20" />
      <label for="company_name" id="company_name_label" class="caption-light editable">Company name</label>
    </div>

    <div class="contact-form__input">
      <input type="text" name="email" id="email" data-validate="true" data-validate-max-length="40" data-validate-min-length="8" data-validate-type="email" />
      <label for="email" id="email_label" class="caption-light editable">Email</label>
    </div>

    <div class="contact-form__checkbox-group">
      <span class="contact-form__fake-checkbox caption-light editable" data-for="newsletter_subscription">
        <i class="icon-checkbox_empty"></i><i class="icon-checkbox_selected"></i> 是的，请为我订阅 Arctic 安全时事通讯(英⽂文版)。
      </span>
      <span class="contact-form__fake-checkbox caption-light editable" data-for="accept_privacy_policy">
        <i class="icon-checkbox_empty"></i><i class="icon-checkbox_selected"></i> 是的，我已阅读并理理解 Arctic 安全隐私政策
      </span>
      <input type="checkbox" value="true" hidden name="newsletter_subscription" id="newsletter_subscription" />
      <input type="checkbox" value="true" data-required="true" hidden name="accept_privacy_policy" id="accept_privacy_policy" />
    </div>
    <div class="g-recaptcha" data-sitekey="6LeMRHkUAAAAAI1b2V2HekMx-muHN2xB12GuH5hH"></div>

    <span class="contact-form__submit-button caption-light editable" id="contact-form__submit-button">发送</span>
    <span class="contact-form__error-message caption-light" id="contact-form__error-message">{{page.form_translations.error_message}}</span>
  
    <div class="contact-form__input">
      <input type="submit" hidden id="contact-form__hidden-submit" />
    </div>
    <div class="contact-form__sent" id="contact-form__thankyou-text" style="visibility: hidden;"><h2>{{thankyou_title}}</h2><p>{{thankyou_description}}</p></div>
  </form>
</div>
{% include contact-info.html class='summary-margin-bottom' title=page.contact_info_title %}