---
layout: default
translations_language: fr
navigation:
  show_in_navigation: true
  nav_title: FR
  nav_title_long: French
title: French summary on Arctic Security information
description:
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
contact_form: true
contact_info_title: Contact Info
---

<div class="summary-content">
  <div class="summary-header__wrapper editable">
    <div class="summary-header editable">
      <h1 class="editable">
        Ne soyez pas seul dans le cyberespace.
      </h1>
      <p class="editable large">
        Nous voulons vous aider à vous organiser en matière de cyberdéfense.
      </p>
    </div>
    <img src="/images/content/hero.svg" alt="summary header" class="editable summary-header__image" />
  </div>
  <div class="summary__text large">
    <div class="summary__text-paragraph editable">
      <h2 class="editable">
        <i class="icon-product" style="margin-right: 10px;"></i>Notre mission
      </h2>
      <p class="editable">
        Notre mission est de vous aider à vous organiser en matière de cyberdéfense. Nous voulons mettre en relation les centres de cybersécurité gouvernementaux et commerciaux et autres responsables en la matière avec les entreprises et organisations afin que tous partagent leurs renseignements sur les menaces critiques.
      </p>
    </div>
    <div class="summary__text-paragraph editable">
      <h2 class="editable">
        <i class="icon-team" style="margin-right: 10px;"></i>Notre équipe
      </h2>
      <p class="editable">
        Notre équipe dévouée est composée d'experts internationaux ayant des connaissances étendues et des années d'expérience professionnelle dans l'industrie du renseignement sur les cybermenaces. Notre organisation est dirigée par son PDG David Chartier, professionnel de longue date en cybersécurité et ancien PDG de Codenomicon. Notre siège social est situé à Oulu, en Finlande. Nous avons également des bureaux à San Francisco, Singapour et Helsinki. Notre principal investisseur est&nbsp; <a target="_blank" href="https://www.capman.com/investment-strategies/growth-equity/portfolio/arctic/">CapMan</a>.&nbsp;
      </p>
    </div>
    <div class="summary__text-paragraph editable">
      <h2 class="editable">
        <i class="icon-product" style="margin-right: 10px;"></i>Nos produits
      </h2>
      <p class="editable">
        Nos produits Arctic Hub et Arctic Node automatisent le partage des renseignements sur les menaces au sein d'une cellule de défense.
      </p>
    </div>
  </div>
  <div class="summary__text large">
  <div class="summary__text-paragraph editable">
        <img class="editable" src="/images/content/5.svg" alt="expander content image" />
        <h3>Defense cell hub shares information</h3>
        <p>In the heart of a defense cell there is a hub that receives and shares the essential threat information. A hub can typically be a national computer emergency response team or a cyber security center. Or, in big organizations and companies one of the units can choose to act as a hub and deliver the information to the other units.</p>
    </div>
    <div class="summary__text-paragraph">
      <div class="editable">
        <img alt="expander content image" src="/images/content/6.svg" />
        <h3>Les noeuds de la cellule de défense reçoivent et utilisent les renseignements</h3>
        <p>Le rôle des noeuds au sein de la cellule de défense consiste à collecter les renseignements sur les cybermenaces critiques auprès de leur concentrateur et à agir en conséquence. Par exemple, les entreprises fournissant des infrastructures critiques peuvent se protéger contre les cybermenaces qui leur sont signalées par un centre national de cybersécurité.</p>
        <p>Arctic Node collecte les renseignements sur les menaces et les intègre dans les outils de</p>
        <p>cybersécurité tels que les capteurs de sécurité réseau ou les systèmes de gestion des événements et des renseignements liés à la sécurité.</p>
      </div>
    </div>
  </div>
</div>

{% assign thankyou_title="Sent." %}
{% if site.data.translations[page.translations_language].thankyou_title %}
  {% assign thankyou_title=site.data.translations[page.translations_language].thankyou_title %}
{% endif %}

{% assign thankyou_description="Thank you for contacting us." %}
{% if site.data.translations[page.translations_language].thankyou_description %}
  {% assign thankyou_description=site.data.translations[page.translations_language].thankyou_description %}
{% endif %}

<div class="contact-form__wrapper {{include.class}}">
  <h2 class="editable">
    En savoir plus
  </h2>
  <p class="editable">
    <a href="/">Découvrez-en plus sur nos produits et notre entreprise en anglais.</a><br /><br />Ou contactez-nous pour poser une question ou organiser une rencontre avec vous en renseignant le formulaire ci-dessous.
  </p>
  <form id="contact-form" class="contact-form">
    <div class="contact-form__input">
      <input type="text" name="first_name" id="first_name" data-validate="true" data-validate-max-length="20" />
      <label for="first_name" id="first_name_label" class="caption-light editable">{{site.data.translations[page.translations_language].first_name}}</label>
    </div>
    
    <div class="contact-form__input">
      <input type="text" name="last_name" id="last_name" data-validate="true" data-validate-max-length="20" />
      <label for="last_name" id="last_name_label" class="caption-light editable">{{site.data.translations[page.translations_language].last_name}}</label>
    </div>

    <div class="contact-form__input">
      <input type="text" name="company_name" id="company_name" data-validate="true" data-validate-max-length="20" />
      <label for="company_name" id="company_name_label" class="caption-light editable">{{site.data.translations[page.translations_language].company_name}}</label>
    </div>

    <div class="contact-form__input">
      <input type="text" name="email" id="email" data-validate="true" data-validate-max-length="40" data-validate-min-length="8" data-validate-type="email" />
      <label for="email" id="email_label" class="caption-light editable">{{site.data.translations[page.translations_language].email}}</label>
    </div>

    <div class="contact-form__checkbox-group">
      <span class="contact-form__fake-checkbox caption-light editable" data-for="newsletter_subscription">
        <i class="icon-checkbox_empty"></i><i class="icon-checkbox_selected"></i> Oui, abonnez-moi à la lettre d'information d'Arctic Security (en anglais).&nbsp;</span>
      <span class="contact-form__fake-checkbox caption-light editable" data-for="accept_privacy_policy">
        <i class="icon-checkbox_empty"></i><i class="icon-checkbox_selected"></i> Oui, j'ai lu et compris la politique de confidentialité&nbsp;d'Arctic Security.</span>
      <input type="checkbox" value="true" hidden name="newsletter_subscription" id="newsletter_subscription" />
      <input type="checkbox" value="true" data-required="true" hidden name="accept_privacy_policy" id="accept_privacy_policy" />
    </div>
    <div class="g-recaptcha" data-sitekey="6LeMRHkUAAAAAI1b2V2HekMx-muHN2xB12GuH5hH"></div>

    <span class="contact-form__submit-button caption-light editable" id="contact-form__submit-button">Envoyer</span>
    <span class="contact-form__error-message caption-light" id="contact-form__error-message">{{site.data.translations[page.translations_language].error_message}}</span>
  
    <div class="contact-form__input">
      <input type="submit" hidden id="contact-form__hidden-submit" />
    </div>
    <div class="contact-form__sent" id="contact-form__thankyou-text" style="visibility: hidden;"><h2>{{thankyou_title}}</h2><p>{{thankyou_description}}</p></div>
  </form>
</div>
{% include contact-info.html class='summary-margin-bottom' title=page.contact_info_title %}