---
layout: default
navigation:
  show_in_navigation: true
  nav_title: FR
  nav_title_long: French
title: French summary on Arctic Security information
description:
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
contact_form: true
form_thankyou_title:
form_thankyou_description:
form_translations:
  first_name: Prénom
  last_name: Nom
  company_name: Entreprise
  email: Email
  error_message: Please fill missing fields
contact_info_title: Contact Info
---

<div class="summary-content">
  <div class="summary-header__wrapper editable">
    <div class="summary-header">
      <h1>
        Ne soyez pas seul dans le cyberespace.
      </h1>
      <p class="large">
        Nous voulons vous aider à vous organiser en matière de cyberdéfense.
      </p>
    </div>
    <img src="/images/content/hero.svg" alt="summary header" class="summary-header__image" />
  </div>
  <div class="summary__text large">
    <div class="summary__text-paragraph editable">
      <h2>
        <i class="icon-product" style="margin-right: 10px;"></i>Notre mission
      </h2>
      <p>
        Notre mission est de vous aider à vous organiser en matière de cyberdéfense. Nous voulons mettre en relation les centres de cybersécurité gouvernementaux et commerciaux et autres responsables en la matière avec les entreprises et organisations afin que tous partagent leurs renseignements sur les menaces critiques.
      </p>
    </div>
    <div class="summary__text-paragraph editable">
      <h2>
        <i class="icon-team" style="margin-right: 10px;"></i>Notre équipe
      </h2>
      <p>
        Notre équipe dévouée est composée d'experts internationaux ayant des connaissances étendues et des années d'expérience professionnelle dans l'industrie du renseignement sur les cybermenaces. Notre organisation est dirigée par son PDG David Chartier, professionnel de longue date en cybersécurité et ancien PDG de Codenomicon. Notre siège social est situé à Oulu, en Finlande. Nous avons également des bureaux à San Francisco, Singapour et Helsinki. Notre principal investisseur est&nbsp; <a target="_blank" href="https://www.capman.com/investment-strategies/growth-equity/portfolio/arctic/">CapMan</a>.&nbsp;
      </p>
    </div>
    <div class="summary__text-paragraph editable">
      <h2>
        <i class="icon-product" style="margin-right: 10px;"></i>Nos produits
      </h2>
      <p>
        Nos produits Arctic Hub et Arctic Node automatisent le partage des renseignements sur les menaces au sein d'une cellule de défense.
      </p>
    </div>
  </div>
  <div class="summary__text large">
  <div class="summary__text-paragraph editable">
    <p><img alt="expander content image" src="/images/content/5.svg" /></p>
    <h3>Le concentrateur de la cellule de défense partage les renseignements</h3>
    <p>Le coeur d'une cellule de défense est constitué d'un concentrateur qui collecte et partage les renseignements essentiels sur les menaces. Il peut généralement s'agir d'une équipe nationale d'intervention en cas d'urgence informatique ou d'un centre de cybersécurité. Ou, dans les grandes organisations et entreprises, le siège social ou toute autre unité centrale peut choisir de faire office de concentrateur et de fournir les renseignements aux autres unités.</p>
    <p>Arctic Hub automatise le partage des renseignements sur les menaces entre une organisation centrale et ses parties prenantes.</p>
  </div>
    <div class="summary__text-paragraph">
      <div class="editable">
      <h2>
        <i class="icon-product" style="margin-right: 10px;"></i>Notre mission
      </h2>
      <p>
        Notre mission est de vous aider à vous organiser en matière de cyberdéfense. Nous voulons mettre en relation les centres de cybersécurité gouvernementaux et commerciaux et autres responsables en la matière avec les entreprises et organisations afin que tous partagent leurs renseignements sur les menaces critiques.
      </p>
    </div>
    </div>
  </div>
</div>

{% assign thankyou_title="Sent." %}
{% if page.thankyou_title %}
  {% assign thankyou_title=page.thankyou_title %}
{% endif %}

{% assign thankyou_description="Thank you for contacting us." %}
{% if page.thankyou_description %}
  {% assign thankyou_description=page.thankyou_description %}
{% endif %}

<div class="contact-form__wrapper {{include.class}}">
  <h2 class="editable">
    En savoir plus
  </h2>
  <p class="editable">
    <a href="/">Découvrez-en plus sur nos produits et notre entreprise en anglais.</a><br /><br />Ou contactez-nous pour poser une question ou organiser une rencontre avec vous en renseignant le formulaire ci-dessous.
  </p>
  <form id="contact-form" class="contact-form">
    <div class="contact-form__input">
      <input type="text" name="first_name" id="first_name" data-validate="true" data-validate-max-length="20" />
      <label for="first_name" id="first_name_label" class="caption-light editable">
      <h2>
        <i class="icon-team" style="margin-right: 10px;"></i>Notre équipe
      </h2>
      <p>
        Notre équipe dévouée est composée d'experts internationaux ayant des connaissances étendues et des années d'expérience professionnelle dans l'industrie du renseignement sur les cybermenaces. Notre organisation est dirigée par son PDG David Chartier, professionnel de longue date en cybersécurité et ancien PDG de Codenomicon. Notre siège social est situé à Oulu, en Finlande. Nous avons également des bureaux à San Francisco, Singapour et Helsinki. Notre principal investisseur est&nbsp; <a target="_blank" href="https://www.capman.com/investment-strategies/growth-equity/portfolio/arctic/">CapMan</a>.&nbsp;
      </p>
    </label>
    </div>
    
    <div class="contact-form__input">
      <input type="text" name="last_name" id="last_name" data-validate="true" data-validate-max-length="20" />
      <label for="last_name" id="last_name_label" class="caption-light editable">Last name</label>
    </div>

    <div class="contact-form__input">
      <input type="text" name="company_name" id="company_name" data-validate="true" data-validate-max-length="20" />
      <label for="company_name" id="company_name_label" class="caption-light editable">Company name</label>
    </div>

    <div class="contact-form__input">
      <input type="text" name="email" id="email" data-validate="true" data-validate-max-length="40" data-validate-min-length="8" data-validate-type="email" />
      <label for="email" id="email_label" class="caption-light editable">
      <h2>
        <i class="icon-product" style="margin-right: 10px;"></i>Nos produits
      </h2>
      <p>
        Nos produits Arctic Hub et Arctic Node automatisent le partage des renseignements sur les menaces au sein d'une cellule de défense.
      </p>
    </label>
    </div>

    <div class="contact-form__checkbox-group">
      <span class="contact-form__fake-checkbox caption-light editable" data-for="newsletter_subscription">
        <i class="icon-checkbox_empty"></i><i class="icon-checkbox_selected"></i> Oui, abonnez-moi à la lettre d'information d'Arctic Security (en anglais).&nbsp;</span>
      <span class="contact-form__fake-checkbox caption-light editable" data-for="accept_privacy_policy">
        <i class="icon-checkbox_empty"></i><i class="icon-checkbox_selected"></i> Oui, j'ai lu et compris la politique de confidentialité&nbsp;d'Arctic Security.</span>
      <input type="checkbox" value="true" hidden name="newsletter_subscription" id="newsletter_subscription" />
      <input type="checkbox" value="true" data-required="true" hidden name="accept_privacy_policy" id="accept_privacy_policy" />
    </div>
    <div class="g-recaptcha" data-sitekey="6LeMRHkUAAAAAI1b2V2HekMx-muHN2xB12GuH5hH"></div>

    <span class="contact-form__submit-button caption-light editable" id="contact-form__submit-button">
    <p><img alt="expander content image" src="/images/content/5.svg" /></p>
    <h3>Le concentrateur de la cellule de défense partage les renseignements</h3>
    <p>Le coeur d'une cellule de défense est constitué d'un concentrateur qui collecte et partage les renseignements essentiels sur les menaces. Il peut généralement s'agir d'une équipe nationale d'intervention en cas d'urgence informatique ou d'un centre de cybersécurité. Ou, dans les grandes organisations et entreprises, le siège social ou toute autre unité centrale peut choisir de faire office de concentrateur et de fournir les renseignements aux autres unités.</p>
    <p>Arctic Hub automatise le partage des renseignements sur les menaces entre une organisation centrale et ses parties prenantes.</p>
  </span>
    <span class="contact-form__error-message caption-light" id="contact-form__error-message">{{page.form_translations.error_message}}</span>
  
    <div class="contact-form__input">
      <input type="submit" hidden id="contact-form__hidden-submit" />
    </div>
    <div class="contact-form__sent" id="contact-form__thankyou-text" style="visibility: hidden;"><h2>{{thankyou_title}}</h2><p>{{thankyou_description}}</p></div>
  </form>
</div>
{% include contact-info.html class='summary-margin-bottom' title=page.contact_info_title %}