---
layout: default
navigation:
  show_in_navigation: true
  nav_title: JP
  nav_title_long: Japanese
title: Japanese
description:
meta_title:
meta_description:
og_image_path: /images/content/hero.svg
twitter_image_path:
og_title:
og_description:
contact_form: true
form_thankyou_title:
form_thankyou_description:
form_translations:
  first_name: First name
  last_name: Last name
  company_name: Company name
  email: Email
  error_message: Please fill missing fields
contact_info_title: Contact Info
---
<div class="summary-content">
  <div class="summary-header__wrapper editable">
    <div class="summary-header editable">
      <h1 class="editable">Don't be alone in cyber.</h1>
      <p class="editable large">Get cyber threat information from the ones who know to the ones who need to know.</p>
    </div>
    <img src="/images/content/hero.svg" alt="summary header" class="editable summary-header__image" />
  </div>
  <div class="summary__text large">
    <div class="summary__text-paragraph editable">
      <h2 class="editable"><i class="icon-product" style="margin-right: 10px;"></i>Our Mission</h2>
      <p class="editable">
        Our mission is to help you get organized in cyber defense through <a href="/#defense-cells">defense cells</a>. We want to get both governmental and commercial cyber security centers and other cyber officials connected with companies and organizations to share the critical threat intelligence between each other. The more threat intelligence is spread inside a<br />defense cell the more resilient the parties and eventually, the internet, become.
      </p>
    </div>
    <div class="summary__text-paragraph editable">
      <h2 class="editable"><i class="icon-team" style="margin-right: 10px;"></i>Our Team</h2>
      <p class="editable">
        Our devoted team is composed of international experts with extensive knowledge and experience in working in the cyber threat intelligence industry. Our organization is led by CEO David Chartier,<br />a long term cyber security professional and the former CEO of Codenomicon. Our headquarters are based in Oulu, Finland. We also have offices in San Francisco, Singapore and Helsinki. Our operations are funded by <a target="_blank" href="https://www.capman.com/investment-strategies/growth-equity/portfolio/arctic/">CapMan</a>.&nbsp;
      </p>
    </div>
    <div class="summary__text-paragraph editable">
      <h2 class="editable"><i class="icon-product" style="margin-right: 10px;"></i>Our Products</h2>
      <p class="editable">Our products, Arctic Hub and Arctic Node, automate the threat intelligence sharing within a defense cell.</p>
    </div>
  </div>
  <div class="summary__text large">
  <div class="summary__text-paragraph editable">
        <img class="editable" src="/images/content/5.svg" class="editable" alt="expander content image" />
        <h3>Defense cell hub shares information</h3>
        <p>In the heart of a defense cell there is a hub that receives and shares the essential threat information. A hub can typically be a national computer emergency response team or a cyber security center. Or, in big organizations and companies one of the units can choose to act as a hub and deliver the information to the other units.</p>
    </div>
    <div class="summary__text-paragraph">
      <div class="editable">
        <img class="editable" src="/images/content/6.svg" class="editable" alt="expander content image" />
        <h3>Defense cell nodes receive and use the information</h3>
        <p>The role of the nodes in the defense cell is to receive the critical cyber threat information and act accordingly. For example, companies that are providing critical infrastructure can protect against the cyber threats reported to them by a national cyber security center that acts as a hub in their defense cell.</p>
      </div>
    </div>
  </div>
</div>

{% assign thankyou_title="Sent." %}
{% if page.thankyou_title %}
  {% assign thankyou_title=page.thankyou_title %}
{% endif %}

{% assign thankyou_description="Thank you for contacting us." %}
{% if page.thankyou_description %}
  {% assign thankyou_description=page.thankyou_description %}
{% endif %}

<div class="contact-form__wrapper {{include.class}}">
  <h2 class="editable">Title</h2>
  <p class="editable">Description</p>
  <form id="contact-form" class="contact-form">
    <div class="contact-form__input">
      <input type="text" name="first_name" id="first_name" data-validate="true" data-validate-max-length="20" />
      <label for="first_name" id="first_name_label" class="caption-light editable">{{page.form_translations.first_name}}</label>
    </div>
    
    <div class="contact-form__input">
      <input type="text" name="last_name" id="last_name" data-validate="true" data-validate-max-length="20" />
      <label for="last_name" id="last_name_label" class="caption-light editable">{{page.form_translations.last_name}}</label>
    </div>

    <div class="contact-form__input">
      <input type="text" name="company_name" id="company_name" data-validate="true" data-validate-max-length="20" />
      <label for="company_name" id="company_name_label" class="caption-light editable">{{page.form_translations.company_name}}</label>
    </div>

    <div class="contact-form__input">
      <input type="text" name="email" id="email" data-validate="true" data-validate-max-length="40" data-validate-min-length="8" data-validate-type="email" />
      <label for="email" id="email_label" class="caption-light editable">{{page.form_translations.email}}</label>
    </div>

    <div class="contact-form__checkbox-group">
      <span class="contact-form__fake-checkbox caption-light editable" data-for="newsletter_subscription">
        <i class="icon-checkbox_empty"></i><i class="icon-checkbox_selected"></i> Subscribe to Arctic Security newsletter
      </span>
      <span class="contact-form__fake-checkbox caption-light editable" data-for="accept_privacy_policy">
        <i class="icon-checkbox_empty"></i><i class="icon-checkbox_selected"></i> I accept the Arctic Security privacy policy
      </span>
      <input type="checkbox" value="true" hidden name="newsletter_subscription" id="newsletter_subscription" />
      <input type="checkbox" value="true" data-required="true" hidden name="accept_privacy_policy" id="accept_privacy_policy" />
    </div>
    <div class="g-recaptcha" data-sitekey="6LeMRHkUAAAAAI1b2V2HekMx-muHN2xB12GuH5hH"></div>

    <span class="contact-form__submit-button caption-light editable" id="contact-form__submit-button">Submit</span>
    <span class="contact-form__error-message caption-light" id="contact-form__error-message">{{page.form_translations.error_message}}</span>
  
    <div class="contact-form__input">
      <input type="submit" hidden id="contact-form__hidden-submit" />
    </div>
    <div class="contact-form__sent" id="contact-form__thankyou-text" style="visibility: hidden;"><h2>{{thankyou_title}}</h2><p>{{thankyou_description}}</p></div>
  </form>
</div>
{% include contact-info.html class='summary-margin-bottom' title=page.contact_info_title %}